.simplebar-scrollbar::before {
  border-radius: 5px;
  background: var(--red-color);
  opacity: 1;
}

main.main .simplebar-scrollbar::before {
  border-radius: 5px;
  background: var(--red-color);
  opacity: 1;
}