.breadcrumbs-chapter {
  margin: 24px 0 40px 0;

  @include tablet {
    margin-bottom: 30px;
  }

  // .breadcrumbs-chapter__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .breadcrumbs-chapter__item

  &__item {
    position: relative;
    font-size: 14px;
    color: #939393;

    &:not(:last-child) {
      padding-right: 8px;
    }

    &:not(:first-child) {
      padding-left: 8px;
    }

    &:not(:last-child)::before {
      content: '/';
      position: absolute;
      top: 0;
      right: -3px;
      color: #939393;
    }

    &:nth-child(n +3) {
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 1;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
  }

  // .breadcrumbs-chapter__item-link

  &__item-link {
    white-space: nowrap;
    font-size: 14px;
    color: #939393;
  }

}
