.accordion-f-a-q {
  .accordion-f-a-q__item {
    padding: 30px 20px;
    background-color: var(--white-color);
    border-bottom: 1px solid #E6E6E6;

    &:nth-child(1) {
      border-top: 1px solid #E6E6E6;
    }

    &.accordion-f-a-q__item-active {
      padding: 30px 20px 20px;
      background-color: #F8F8F8;
      border-radius: 8px 8px 0 0;

      .accordion-f-a-q__item-content {
        top: 0;
        height: 100%;
        opacity: 1;
        user-select: auto;
        pointer-events: all;
        transition: height 0.2s linear, opacity 0.3s linear, top 0.3s linear;
      }

      .accordion-f-a-q__item-trigger {
        margin-bottom: 30px;

        @include mobile {
          margin-bottom: 16px;
        }
      }

      .trigger__arrow {
        transform: rotate(-180deg);
      }
    }


    .accordion-f-a-q__item-trigger {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-right: 20px;
      cursor: pointer;

      .trigger__text {
        font-size: 24px;
        color: var(--black-color);
      }

      .trigger__img {
        margin-left: auto;

        .trigger__arrow {
          position: absolute;
          right: 0;
          bottom: 50%;
          width: 15px;
          height: 8px;
          background-image: url('../../img/svg/f-a-q-arrow.svg');
          background-repeat: no-repeat;
        }
      }
    }

    &.accordion-f-a-q__item-active {
      & .accordion-f-a-q__item-trigger .trigger__arrow {
        // background-image: url('../../img/svg/f-a-q-close-mobile.svg');
        transform: rotate(180deg);
        height: 14px;
      }
    }

    .accordion-f-a-q__item-content {
      position: relative;
      top: -100px;
      height: 0;
      opacity: 0;
      user-select: none;
      pointer-events: none;
      padding-top: 16px;
      padding-bottom: 20px;
      transition: height 0.2s linear, opacity 0.1s linear, top 0.1s linear;

      .accordion-f-a-q__item-text {
        margin-bottom: 45px;
        color: var(--black-color);

        & p {
          font-size: 18px;
          line-height: 135%;
        }

        & p:not(:last-child) {

          margin-bottom: 20px;
        }

        @include mobile {
          margin-bottom: 30px;

          & p:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }

      .accordion-f-a-q__item-time {
        display: flex;
        margin-bottom: 20px;
        font-family: var(--font-family, sans-serif);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #4D5759;
      }
    }
  }

}

.f-a-q {
  margin-top: 60px;
  margin-bottom: 60px;

  @include mobile {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 1px;
  }

  // .f-a-q__inner

  &__inner {
    @include mobile {
      position: relative;
      margin-bottom: 45px;
    }
  }

  // .f-a-q__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .f-a-q__title

  &__title {
    margin-bottom: 30px;

    @include mobile {
      text-align: left;
    }
  }

  // .f-a-q__link

  &__link {
    @include mobile {
      position: absolute;
      bottom: -45px;
      left: 0;
    }
  }

  // .f-a-q__link-arrow

  &__link-arrow {}

  // .f-a-q__accordion

  &__accordion {}
}


.accordion-f-a-q-form {

  // .accordion-f-a-q-form__inner

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    @include mobile {
      flex-wrap: wrap;
      row-gap: 15px;
    }
  }

  // .accordion-f-a-q-form__text

  &__text {
    margin-right: 40px;
    font-size: 16px;
    line-height: 135%;
    color: #4D5759;

    @include mobile {
      margin-right: 20px;
    }

    @media (max-width: 359px) {
      margin-right: 10px;
      font-size: 14px;
    }
  }

  // .accordion-f-a-q-form__label

  &__label {
    margin-bottom: 0;
    cursor: pointer;

    &:hover svg path,
    &:hover .accordion-f-a-q-form__desc {
      fill: #2DAE00;
      color: #2DAE00;
    }

    &:hover .accordion-f-a-q-form__desc-dislike svg path,
    &:hover .accordion-f-a-q-form__desc--dislike {
      fill: var(--red-color);
      color: var(--red-color);
    }
  }

  // .accordion-f-a-q-form__input

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked~.accordion-f-a-q-form__desc .accordion-f-a-q-form__desc-like svg path,
    &:checked~.accordion-f-a-q-form__desc {
      fill: #2DAE00;
      color: #2DAE00;
    }

    &:checked~.accordion-f-a-q-form__desc .accordion-f-a-q-form__desc-dislike svg path,
    &:checked~.accordion-f-a-q-form__desc--dislike {
      fill: var(--red-color);
      color: var(--red-color);
    }
  }

  // .accordion-f-a-q-form__desc

  &__desc {
    font-size: 16px;
    line-height: 135%;
    margin-right: 15px;

    @include mobile {
      margin-right: 10px;
    }

    @media (max-width: 359px) {
      font-size: 12px;
    }
  }

  // .accordion-f-a-q-form__desc-like

  &__desc-like {}

  // .accordion-f-a-q-form__desc-dislike

  &__desc-dislike {}

  // .accordion-f-a-q-form__link

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 130px;
    height: 32px;
    border: 1px solid #969696;
    border-radius: 2px;
    font-size: 16px;
    color: #4D5759;

    @include mobile {
      margin-left: 0;
      margin-right: auto;

    }

    &:hover {
      color: #2469BE;
      border: 1px solid #2469BE;
    }
  }
}

.accordion-f-a-q__item-see {
  position: relative;
  display: inline-flex;
  margin-top: -25px;
  margin-bottom: 45px;
  cursor: pointer;

  @include mobile {
    margin-top: -15px;
    margin-bottom: 30px;
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url('../../img/youtube-content/youtube-content-img-play.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover::after {
    content: '';
  }
}

.accordion-f-a-q__item-see-image {}
