.have-history {
  margin-bottom: 50px;

  // .have-history__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6F3FF;
    border-radius: 16px;
    padding: 60px 118px 30px 60px;

    @include tablet {
      flex-direction: column;
      row-gap: 30px;
      padding: 60px 0;
      justify-content: center;
    }

    @include mobile {
      row-gap: 20px;
      padding: 50px 0;
    }
  }

  // .have-history__info

  &__info {
    @include tablet {
      text-align: center;
    }
  }

  // .have-history__title

  &__title {
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  // .have-history__descr

  &__descr {
    margin-bottom: 30px;
    max-width: 560px;
    font-size: 20px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  // .have-history__link

  &__link {
    display: inline-flex;
  }

  // .have-history__img

  &__img {}
}
