.instructions-articles {
  margin-bottom: 40px;

  // .instructions-articles__inner

  &__inner {}

  // .instructions-articles__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .instructions-articles__title

  &__title {
    @include mobile {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  // .instructions-articles__link

  &__link {}

  // .instructions-articles__link-arrow

  &__link-arrow {}

  // .instructions-articles__descr

  &__descr {
    max-width: 800px;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--blue-color);

    @include mobile {
      font-size: 18px;
    }
  }

  // .instructions-articles__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }

  // .instructions-articles__item


  &__item--search .instructions-articles__item-link img {
    margin-right: 0;
  }

  // &__item:nth-child(2) .instructions-articles__item-link {
  //   background-image: url('../../img/instructions-articles/instructions-articles-treatment.svg');
  // }

  // &__item:nth-child(3) .instructions-articles__item-link {
  //   background-image: url('../../img/instructions-articles/instructions-articles-smile.svg');
  // }

  // &__item:nth-child(4) .instructions-articles__item-link {
  //   background-image: url('../../img/instructions-articles/instructions-articles-pregnancy.svg');
  // }

  // &__item:nth-child(5) .instructions-articles__item-link {
  //   background-image: url('../../img/instructions-articles/instructions-articles-document.svg');
  // }

  // &__item:nth-child(6) .instructions-articles__item-link {
  //   background-image: url('../../img/instructions-articles/instructions-articles-scales.svg');
  // }

  // &__item:nth-child(7) .instructions-articles__item-link {
  //   width: 60px;
  //   height: 45px;
  //   background-image: url('../../img/instructions-articles/instructions-articles-search.svg');
  //   background-position: center center;

  //   @include tablet {
  //     height: 38px;
  //   }
  // }

  // .instructions-articles__item-link

  &__item-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 13px 20px 13px 20px;
    font-size: 18px;
    line-height: 18px;
    color: var(--black-color);
    background-color: #F0F6FC;
    border-radius: 32px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: 17px center;

    @include tablet {
      padding: 10px 18px 10px 18px;
    }

    &:hover {
      border: 1px solid #A7C8ED;
      color: #2469BE;
      opacity: 1;
    }

    &:active {
      border: 1px solid #A7C8ED;
      color: #2469BE;
      opacity: 1;
    }

    &:focus {
      border: 1px solid #A7C8ED;
      color: #2469BE;
      opacity: 1;
    }

    &.instructions-articles__item-link--active {
      border: 1px solid #A7C8ED;
      color: #2469BE;
      opacity: 1;
    }
  }


  // .instructions-articles__item-image

  &__item-image {
    margin-right: 10px;
  }
}

.instructions-articles__item-link--green {
  border: 1px solid #DDFFE2;
  color: var(--black-color)
}

.instructions-articles__item-link--orange {
  border: 1px solid #FFE6DE;
  color: var(--black-color)
}

.instructions-articles__item-link--red {
  border: 1px solid #FFD6DB;
  color: var(--black-color)
}

.instructions-articles__item-link--blue {
  border: 1px solid #D6ECFF;
  color: var(--black-color)
}

.instructions-articles__item-link--yellow {
  border: 1px solid #EDEEB6;
  color: var(--black-color)
}


.instructions-articles__item-link--purple {
  border: 1px solid #E8D1FF;
  color: var(--black-color)
}







.medical-article__top-text {
  border: 1px solid #E6E6E6;
  padding: 9px 12px 8px;
}

.medical-article:hover .medical-article__top-text.instructions-articles__item-link--green {
  border: 1px solid #DDFFE2;
}

.medical-article:hover .medical-article__top-text.instructions-articles__item-link--orange {
  border: 1px solid #FFE6DE;
}

.medical-article:hover .medical-article__top-text.instructions-articles__item-link--red {
  border: 1px solid #FFD6DB;
}

.medical-article:hover .medical-article__top-text.instructions-articles__item-link--blue {
  border: 1px solid #D6ECFF;
}

.medical-article:hover .medical-article__top-text.instructions-articles__item-link--yellow {
  border: 1px solid #EDEEB6;
}

.medical-article:hover .medical-article__top-text.instructions-articles__item-link--purple {
  border: 1px solid #E8D1FF;
}
