.questions-answers {

  // .questions-answers__title

  &__title {
    margin-bottom: 20px;
  }

  // .questions-answers__inner

  &__inner {}

  // .questions-answers__form

  &__form {
    position: relative;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 36px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  // .questions-answers__form-image

  &__form-image {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
  }

  // .questions-answers__form-input

  &__form-input {
    padding: 20px 20px 15px 65px;
    margin-bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #F0F6FC;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #193C6D;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #193C6D;
      opacity: 0.5;
    }

    &:hover {
      filter: none;
    }
  }

  // .questions-answers__indicators

  &__indicators {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 40px;

    @include mobile {
      column-gap: 10px;
      margin-bottom: 30px;
    }
  }

  // .questions-answers__indicators-link

  &__indicators-link {
    position: relative;
    display: inline-flex;
    padding: 12px 20px;
    background-color: #F0F6FC;
    border-radius: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--black-color);

    &:hover {
      opacity: 1;
    }
  }

  // .questions-answers__indicators-link--active

  &__indicators-link--active {
    border: 1px solid #A7C8ED;
    color: #2469BE;
  }

  // .questions-answers__indicators-link--new

  &__indicators-link--new {
    padding-left: 40px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #00C01F;
    }
  }

  // .questions-answers__indicators-link--updated

  &__indicators-link--updated {
    padding-left: 40px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #EB8D00;
    }
  }

  // .questions-answers__body

  &__body {
    margin-bottom: 60px;
  }

  // .questions-answers__lists-title

  &__lists-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 29px;
    line-height: 135%;
    color: var(--blue-color);

    @include mobile {
      font-size: 20px;
    }
  }

  // .questions-answers__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
    border-bottom: 1px solid #C8C8C8;
    overflow: hidden;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }

  }

  // .questions-answers__item

  &__item {
    position: relative;
    padding: 30px 0;
    padding-right: 32px;
    margin-bottom: 0;


    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #C8C8C8;
    }

    &:last-child::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 1px;
      background-color: #C8C8C8;
    }

    @include mobile {
      padding-right: 20px;
    }
  }

  // .questions-answers__item-count

  &__item-count {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #4D5759;

    @include mobile {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  // .questions-answers__item-link

  &__item-link {
    display: flex;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    color: var(--blue-color);

    @include mobile {
      font-size: 20px;
    }
  }

  // .questions-answers__item-updated

  &__item-updated {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #4D5759;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #EB8D00;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .questions-answers__item-new {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #4D5759;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #00C01F;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

.questions-answers__more {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 80px;

  @include mobile {
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

.questions-answers__form-img {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 0 4px 4px 0;
}

.questions-answers__form-image {
  position: static;
  margin: auto;
  transform: translateY(0)
}

.questions-answers__form-input {
  padding: 20px 100px 15px 20px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 767px) {
  .questions-answers__form-img {
    width: 60px;
  }

  .questions-answers__form-input {
    padding: 20px 60px 15px 20px;
  }
}

.questions-answers__form-input {
  position: relative;
  z-index: 4;
}

.questions-answers__form-img {
  z-index: 5;
}

.answers-list {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #F0F6FC;
  border-top: 1px solid #E6E6E6;
  box-shadow: 0px 5px 29px rgba(97, 97, 97, 0.22);
  z-index: 3;
  display: none; //убрать не забудь!!!
}

.answers-list__item {}

.answers-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.answers-list__link {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--blue-color);
}

.answers-list__link span {
  font-weight: 700;
}

.answers-list__link:hover {
  color: var(--red-color);
}

// изменение по иконкам

.questions-answers__item {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.questions-answers__item-img {
  max-width: 50px;
  min-width: 50px;
  object-fit: fill;
}

@media (max-width: 576px) {
  .questions-answers__item {
    column-gap: 15px;
  }

  .questions-answers__item-img {
    max-width: 44px;
    min-width: 44px;
  }

  .questions-answers__item-img svg {
    max-width: 44px;
    min-width: 44px;
  }
}

//доп изменение
.questions-answers__item:hover {
  opacity: 1;
}

.questions-answers__item:hover .questions-answers__item-link {
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--red-color);
}

.questions-answers__item:hover .questions-answers__item-img svg path {
  fill: var(--red-color);
}

.questions-answers__item-img svg {
  max-width: 50px;
  min-width: 50px;
  object-fit: fill;
}
