.read-also {
  padding: 60px 0;
  background-color: #F8F8F8;

  &.see-also {
    background-color: var(--white-color);

    & .read-also__slide {
      background-color: #F8F8F8;
    }
  }

  @include tablet {
    padding: 60px 0 45px 0;
  }

  @include mobile {
    padding: 30px 0 40px 0;
  }

  // .read-also__inner

  &__inner {
    position: relative;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  // .read-also__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  // .read-also__title

  &__title {}

  // .read-also__link

  &__link {

    @include mobile {
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // .read-also__link-arrow

  &__link-arrow {}

  // .read-also__slider

  &__slider {
    position: relative;

    @include mobile {
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  // .read-also__slide

  &__slide {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 352px;
    padding: 16px 20px 0 20px;
    border-radius: 16px;
    background-color: var(--white-color);

    @include mobile {
      width: 318px !important;
    }
  }

  & .slick-slide {
    display: grid;
    align-content: space-between;
    margin: 0 16px;

    @include tablet {
      margin: 0 12px;
    }

    @include mobile {
      margin: 0 5px;
      width: 100% !important;
    }
  }

  & .slick-list {
    margin: 0 -16px;

    @include tablet {
      margin: 0 -12px;
    }

    @include mobile {
      margin: 0 -5px;
    }
  }

  & .slick-slider .slick-track,
  .slick-slider .slick-list {
    display: flex;
  }

  // .read-also__slide-top

  &__slide-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  // .read-also__slide-text

  &__slide-text {
    padding: 4px 12px;
    border: 1px solid #E6E6E6;
    border-radius: 32px;
    font-size: 12px;
    color: #969696;
  }

  // .read-also__slide-time

  &__slide-time {
    font-size: 12px;
    color: #969696;
  }

  // .read-also__slide-descr

  &__slide-descr {
    margin-bottom: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.3px;
    color: var(--blue-color);
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  // .read-also__slide-picture

  &__slide-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0 0 16px 16px;
  }

  // .read-also__slide-image

  &__slide-image {}

  & .slick-dots {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 40px;

    & button {
      font-size: 0;
      width: 6px;
      height: 6px;
      background-color: #E6E6E6;
      border-radius: 100%;
    }

    @include mobile {
      margin-top: 20px;
    }
  }

  & .slick-active button {
    width: 8px;
    height: 8px;
    background-color: #153D6E;
  }

  & .slick-prev,
  & .slick-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 0;
    width: 48px;
    height: 48px;
    margin-bottom: 0;
    border: none;
    padding: 0;
    background-color: var(--white-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    border-radius: 37px;
    background-image: url('../../img/svg/read-also-arrow.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    z-index: 2;

    @include small-desktop {
      top: 95%;
    }
  }

  & .slick-prev {
    left: -70px;

    @include small-desktop {
      left: 0;
    }
  }

  & .slick-next {
    right: -70px;
    background-image: url('../../img/svg/read-also-arrow-next.svg');

    @include small-desktop {
      right: 0;
    }
  }
}

.slick-dots li.slick-active {
  background: var(--blue-color);
}

.read-also__slide-picture--blue {
  background: linear-gradient(90deg, #1689E8 0%, #4AA4F1 100%);
}

.read-also__slide-picture--fiol {
  background: linear-gradient(90deg, #6D6DE5 0%, #747DF1 100%);
}

.read-also__slide-picture--green {
  background: linear-gradient(90deg, #02C7AF 0%, #00E1C6 100%);
}
