.subscribe-health {
  padding: 67px 0 60px 0;
  background-color: #E6F3FF;

  @include mobile {
    padding: 28px 0 22px 0;
  }

  // .subscribe-health__inner

  &__inner {
    text-align: center;
  }

  // .subscribe-health__title

  &__title {
    margin-bottom: 37px;

    @include mobile {
      margin-bottom: 14px;
    }
  }

  // .subscribe-health__form

  &__form {}
}

.subscribe-health-form {
  margin-bottom: 0;

  // .subscribe-health-form__label

  &__label {
    display: inline;
    margin-bottom: 0;
  }

  // .subscribe-health-form__input

  &__input {
    padding: 16px 0 16px 30px;
    margin-right: 16px;
    max-width: 352px;
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #939393;
    border-radius: 4px;
    margin-bottom: 0;

    &::placeholder {
      font-family: var(--font-family, sans-serif);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #939393;
    }

    @include mobile {
      margin-bottom: 16px;
      max-width: 100%;
    }
  }

  // .subscribe-health-form__btn

  &__btn {
    @include mobile {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  // .subscribe-health-form__descr

  &__descr {
    margin-top: 17px;
    font-size: 14px;

    @include mobile {
      margin: 0 auto;
      margin-top: 24px;
      max-width: 220px;
      text-align: center;
    }
  }

  // .subscribe-health-form__descr-link

  &__descr-link {
    color: var(--red-color);

    &:hover {
      border-bottom: 1px solid var(--red-color);
    }

  }
}
