.detal-instructions__tables {}

.detal-instructions__table {
  line-height: 24px !important;
}

.detal-instructions__table thead th {
  vertical-align: baseline;
}

@media (max-width: 991px) {
  .detal-instructions__table thead {
    display: none;
  }

  .detal-instructions__table tr {
    display: block;
    padding: 0 1.5rem !important;
    border: 1px solid #acb6c4;
    border-radius: 5px;
  }

  .detal-instructions__table tr:not(:last-child) {
    margin-bottom: 20px;
  }

  .detal-instructions__table td {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 1.2rem 0 !important;
    font-size: 14px;
    text-align: right;
  }

  .detal-instructions__table td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
    max-width: 118px;
  }

  .detal-instructions__table td:last-child {
    border: 0;
  }

}
