.useful-materials-page-body {
  margin-bottom: 70px;

  @include tablet {
    margin-bottom: 35px;
  }

  @include mobile {
    margin-bottom: 140px;
  }
}

.useful-materials__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: var(--blue-color);

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    font-size: 26px;
    line-height: 135%;
  }
}

.useful-materials-page-body {

  // .useful-materials-page-body__footer

  &__footer {
    margin-top: 60px;

    @include tablet {
      margin-top: 50px;
    }

  }

  // .useful-materials-page-body__btn

  &__btn {
    display: flex;
    justify-content: center;
  }

  // .useful-materials-page-body__btn-link

  &__btn-link {}
}

.prevention-rehabilitation-audio,
.disease-treatment-audio,
.be-treated-free-audio {
  margin-bottom: 40px;
}


.prevention-rehabilitation-audio__list,
.disease-treatment-audio__list,
.be-treated-free-audio__list,
.pregnancy-childbirth-audio__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  @include mobile {
    gap: 20px;
  }
}

.prevention-rehabilitation-audio__item,
.disease-treatment-audio__item,
.be-treated-free-audio__item,
.pregnancy-childbirth-audio__item {
  margin-bottom: 0;
}
