.youtube-content {
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 4px 24px rgba(97, 97, 97, 0.08);
  cursor: pointer;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #031317;
    opacity: 0.2;
    border-radius: 16px;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50px;
    height: 50px;
    background-image: url('../../img/youtube-content/youtube-content-img-play.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
  }

  &:hover::after,
  &:hover::before {
    content: '';
    z-index: 3;
  }

  // .youtube-content__inner

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 200px;
    border-radius: 16px 16px 20px 20px;
  }

  // .youtube-content__descr

  &__descr {
    position: absolute;
    top: 15px;
    left: 20px;
    max-width: 170px;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: var(--white-color);
    z-index: 2;

    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      max-width: 140px;
      font-size: 16px;
    }
  }

  // .youtube-content__image

  &__image {
    position: absolute;
    right: 16px;
    bottom: 25px;
  }
}

.youtube-content__inner--fiol {
  background: linear-gradient(90deg, #6D6DE5 0%, #747DF1 100%);
}

.youtube-content__inner--blue {
  background: linear-gradient(90deg, #1689E8 0%, #4AA4F1 100%);
}

.youtube-content__footer {
  display: flex;
  align-items: center;
  height: 46px;
  border-radius: 0 0 16px 16px;
  background-color: var(--white-color);
  background-image: url('../../img/youtube-content/youtube-content-img-play-red.svg');
  background-repeat: no-repeat;
  background-position: 16px center;

}

.youtube-content__instuction {
  padding-left: 50px;
  font-size: 16px;
  color: var(--blue-color);

}
