<section class="about-project">
  <div class="container">
    <div class="about-project__inner">
      <h2 class="section-title about-project__title">
        <span class="section-title--blue">
          О проекте
        </span>
      </h2>

      <div class="about-project__top">
        <div class="about-project__texts">
          <p class="about-project__text">
            На всех этапах оказания бесплатной медицинской помощи по полису ОМС у пациентов возникает много вопросов —
            мы запустили для вас проект "Справочный центр", который поможет разобраться как все устроено.
          </p>

          <p class="about-project__text">
            Наши эксперты пишут на понятном языке о том как получать медпомощь бесплатно, своевременно и качественно по
            полису ОМС.
          </p>

        </div>

        <div class="about-project__top-img">
          <img loading="lazy" src="img/about-project/about-project-top-img.svg" class="about-project__top-image"
            alt="О проекте">
        </div>
      </div>

      <div class="contact-edition__contact-edition">
        <h3 class="contact-edition__contact-edition-title">Контакты редакции</h3>
        <img loading="lazy" src="img/about-project/about-project-contact-edition-img.svg"
          class="contact-edition__contact-edition-image" alt="Контакты редакции">
        <a class="contact-edition__contact-edition-link"
          href="mailto:svyatoslav.savkin@kapmed.ru">svyatoslav.savkin@kapmed.ru</a>
      </div>

      <div class="about-project__experts">
        <h3 class="about-project__experts-title">
          Эксперты
        </h3>

        <ul class="about-project__experts-list">
          <li class="about-project__experts-item">
            <div class="about-project__experts-img">
              <picture>
                <source srcset="img/about-project/about-project-expert.avif" type="image/avif">
                <source srcset="img/about-project/about-project-expert.webp" type="image/webp">
                <img loading="lazy" src="img/about-project/about-project-expert.jpg"
                  class="about-project__experts-image" alt="Эксперт Алексей Анатольевич Старченко">
              </picture>
            </div>
            <div class="about-project__experts-info">
              <a href="#" class="about-project__experts-name">
                Алексей Анатольевич Старченко
              </a>

              <p class="about-project__experts-descr">
                член Общественного совета по защите прав пациентов при Росздравнадзоре, д.м.н, профессор
              </p>
              <a class="about-project__experts-articles" href="#">
                Написано статей:
                <span class="about-project__experts-articles-count">
                  8
                </span>
              </a>
            </div>

          </li>

          <li class="about-project__experts-item">
            <div class="about-project__experts-img">
              <picture>
                <source srcset="img/about-project/about-project-expert.avif" type="image/avif">
                <source srcset="img/about-project/about-project-expert.webp" type="image/webp">
                <img loading="lazy" src="img/about-project/about-project-expert.jpg"
                  class="about-project__experts-image" alt="Эксперт Алексей Анатольевич Старченко">
              </picture>
            </div>
            <div class="about-project__experts-info">
              <a href="#" class="about-project__experts-name">
                Алексей Анатольевич Старченко
              </a>

              <p class="about-project__experts-descr">
                член Общественного совета по защите прав пациентов при Росздравнадзоре, д.м.н, профессор
              </p>
              <a class="about-project__experts-articles" href="#">
                Написано статей:
                <span class="about-project__experts-articles-count">
                  8
                </span>
              </a>
            </div>

          </li>

          <li class="about-project__experts-item">
            <div class="about-project__experts-img">
              <picture>
                <source srcset="img/about-project/about-project-expert.avif" type="image/avif">
                <source srcset="img/about-project/about-project-expert.webp" type="image/webp">
                <img loading="lazy" src="img/about-project/about-project-expert.jpg"
                  class="about-project__experts-image" alt="Эксперт Алексей Анатольевич Старченко">
              </picture>
            </div>
            <div class="about-project__experts-info">
              <a href="#" class="about-project__experts-name">
                Алексей Анатольевич Старченко
              </a>

              <p class="about-project__experts-descr">
                член Общественного совета по защите прав пациентов при Росздравнадзоре, д.м.н, профессор
              </p>
              <a class="about-project__experts-articles" href="#">
                Написано статей:
                <span class="about-project__experts-articles-count">
                  8
                </span>
              </a>
            </div>

          </li>

          <li class="about-project__experts-item">
            <div class="about-project__experts-img">
              <picture>
                <source srcset="img/about-project/about-project-expert.avif" type="image/avif">
                <source srcset="img/about-project/about-project-expert.webp" type="image/webp">
                <img loading="lazy" src="img/about-project/about-project-expert.jpg"
                  class="about-project__experts-image" alt="Эксперт Алексей Анатольевич Старченко">
              </picture>
            </div>
            <div class="about-project__experts-info">
              <a href="#" class="about-project__experts-name">
                Алексей Анатольевич Старченко
              </a>

              <p class="about-project__experts-descr">
                член Общественного совета по защите прав пациентов при Росздравнадзоре, д.м.н, профессор
              </p>
              <a class="about-project__experts-articles" href="#">
                Написано статей:
                <span class="about-project__experts-articles-count">
                  8
                </span>
              </a>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
