<section class="detal-instructions">
  <div class="container">
    <div class="detal-instructions__inner">
      <div class="detal-instructions__top">
        <div class="detal-instructions__top-texts">
          <h3 class="detal-instructions__top-title">
            Государство задолжало вам бесплатные лекарства.Как их&nbsp;получить?
          </h3>

          <p class="detal-instructions__top-descr">
            При оказании медицинской помощи в том числе назначается лекарственное лечение. Давайте разберемся, в каких
            случаях лекарства пациентам предоставляются бесплатно.
          </p>
        </div>

        <div class="detal-instructions__top-img">
          <img loading="lazy" src="img/detal-instructions/detal-instructions-bg.svg" alt="Доктор">
        </div>
      </div>

      <div class="detal-instructions__block-info">
        <div class="detal-instructions__block-dates">
          <div class="detal-instructions__block-article">
            Профилактика и реабилитация
          </div>

          <div class="detal-instructions__block-data">
            Дата публикации: 16.09.2022
          </div>

          <div class="detal-instructions__block-time">
            5 минут на прочтение статьи
          </div>
        </div>

        <div class="detal-instructions__block-who">
          <div class="detal-instructions__block-autor">
            <img class="detal-instructions__block-img" src="img/detal-instructions/detal-instructions-personal.png"
              alt="Автор публикации">

            <span class="detal-instructions__block-autor-name">
              Морозова Елизавета Андреевна
            </span>
          </div>

          <div class="detal-instructions__block-see">
            <img loading="lazy" src="img/detal-instructions/detal-instructions-see.svg"
              class="detal-instructions__block-see-image" alt="Посмотрели">
            <span class="detal-instructions__block-see-count">
              105
            </span>
          </div>
        </div>
      </div>

      <div class="detal-instructions__middle">
        <div class="detal-instructions__links">
          <h4 class="detal-instructions__links-title">
            Содержание
          </h4>

          <ul class="detal-instructions__links-list">
            <li class="detal-instructions__links-item">
              <span class="detal-instructions__links-count">
                1
              </span>
              <a class="detal-instructions__links-link" href="">
                Инструкция для экономных пациентов
              </a>
            </li>

            <li class="detal-instructions__links-item">
              <span class="detal-instructions__links-count">
                2
              </span>
              <a class="detal-instructions__links-link" href="">
                Кому положены льготные лекарства
              </a>
            </li>

            <li class="detal-instructions__links-item">
              <span class="detal-instructions__links-count">
                3
              </span>
              <a class="detal-instructions__links-link" href="">
                Смотрим категории граждан, которым положены льготные лекарства
              </a>
            </li>

            <li class="detal-instructions__links-item">
              <span class="detal-instructions__links-count">
                4
              </span>
              <a class="detal-instructions__links-link" href="">
                Смотрим на список болезней, при которых можно получить бесплатные лекарства
              </a>
            </li>

            <li class="detal-instructions__links-item">
              <span class="detal-instructions__links-count">
                5
              </span>
              <a class="detal-instructions__links-link" href="">
                Смотрим на список болезней, при которых можно получить бесплатные лекарства
              </a>
            </li>

            <li class="detal-instructions__links-item">
              <span class="detal-instructions__links-count">
                6
              </span>
              <a class="detal-instructions__links-link" href="">
                Запомнить главное
              </a>
            </li>
          </ul>
        </div>

        <div class="detal-instructions__middle-body">
          <h5 class="detal-instructions__middle-title">
            По данным Фонда общественного мнения, 80% россиян уверены в том, что ни им, ни членам их семьи не положены
            льготные препараты.
          </h5>

          <div class="detal-instructions__middle-descr">
            <p>

              По даннм Фонда общественного мнения, 80% россиян уверены в том, что ни им, ни членам их семьи не положены
              льготные препараты.

            </p>
            <p>
              Но одних только пенсионеров в России около 40 миллионов — это больше 25% населения, и все они имеют право
              как минимум на покупку лекарств за полцены, со скидкой.
            </p>
            <p>
              При этом 39% тех, кто покупает лекарства самостоятельно, оценивают затраты в аптеке как существенные, а
              59% отмечают, что препараты, которые они регулярно покупают, серьезно дорожают.
            </p>
            <p>
              Некоторые люди думают, что «отвоевать» бесплатные лекарства нереально из-за бюрократии, а если вдруг
              получится, это не будет стоить потраченных сил. Даже если вы тоже так считаете, полезно узнать, как
              устроена система льготного обеспечения лекарствами в нашей стране и так ли она страшна на самом деле.
            </p>
          </div>

          <div class="detal-instructions__middle-go">
            <h6 class="detal-instructions__middle-go-title">
              Сходите к врачу
            </h6>

            <div class="detal-instructions__middle-descr">
              <p>
                Наши статьи написаны с любовью к доказательной медицине. Мы ссылаемся на авторитетные источники и ходим
                за комментариями к докторам с хорошей репутацией. Но помните: ответственность за ваше здоровье лежит на
                вас и на лечащем враче. Мы не выписываем рецептов, мы даем рекомендации. Полагаться на нашу точку зрения
                или нет — решать вам.
              </p>
            </div>
          </div>

          <h5 class="detal-instructions__middle-title">
            Кому положены льготные лекарства
          </h5>

          <div class="detal-instructions__middle-descr">
            <p>
              Льготные лекарства, а также медицинские изделия и лечебное питание готово приобрести за человека
              государство — но это актуально только для некоторых категорий граждан. В 2021 году правительство тратило
              на каждого льготника в среднем 929 Р в месяц.
            </p>
            <p>
              Единого списка, в котором перечислялись бы все категории льготников и диагнозы, а также бесплатные
              лекарства и медицинские товары, которые им положены, не существует, потому что в разных случаях используют
              разные каналы финансирования. Есть два основных таких источника: федеральный бюджет и региональный бюджет.
            </p>
            <p>
              Предлагаю пошагово пройти по всем возможным вариантам и попробовать найти либо себя, либо свою болезнь в
              нужных документах.
            </p>
          </div>

          <h5 class="detal-instructions__middle-title">
            Какие льготные лекарства положены по закону и как их получить бесплатно?
          </h5>

          <div class="detal-instructions__middle-see">
            <a class="detal-instructions__middle-see-link" href="#">
              <img src="img/detal-instructions/detal-instructions-medicine.jpg"
                alt="Видео о том, Какие льготные лекарства положены по закону и как их получить бесплатно?">
            </a>
          </div>

          <h5 class="detal-instructions__middle-title">
            Смотрим категории граждан, которым положены льготные лекарства
          </h5>
          <div class="detal-instructions__middle-descr">
            <p>
              Льготные категории перечислены в приложении № 1 к постановлению Правительства РФ, регулирующему
              обеспечение граждан льготными препаратами. Там указано, какие группы людей и что могут получить от
              государства бесплатно, в каких случаях и при каких заболеваниях.
            </p>
            <p>
              Чтобы найти свою категорию, надо отыскать себя в столбике «Группы населения». Проще всего открыть документ
              и ввести нужную категорию в строке поиска вверху сайта.
            </p>

            <div class="detal-instructions__middle-descr-img">
              <img src="img/detal-instructions/detal-instructions-group.jpg"
                alt="Смотрим категории граждан, которым положены льготные лекарства">
              <p>
                Вверху есть строка поиска по документу, куда можно вбить нужное название категории. Источник:
                <a href="http://" target="_blank" rel="noopener noreferrer"> ivo.garant.ru</a>
              </p>
            </div>

            <p>
              Список большой, но в нем перечислены в том числе довольно редкие категории: испытатели ядерного оружия,
              люди, эвакуированные из зоны отчуждения в 1986 году, бывшие несовершеннолетние узники концлагерей.
            </p>
          </div>

          <div class="detal-instructions__middle-categories">
            <p class="detal-instructions__middle-categories-text">
              Распространенные категории льготников:
            </p>

            <ul class="detal-instructions__middle-categories-list">
              <li class="detal-instructions__middle-categories-item">
                дети до трех лет;
              </li>
              <li class="detal-instructions__middle-categories-item">
                дети из многодетных семей до шести лет;
              </li>
              <li class="detal-instructions__middle-categories-item">
                дети с инвалидностью до 18 лет;
              </li>
              <li class="detal-instructions__middle-categories-item">
                люди с инвалидностью первой группы;
              </li>
              <li class="detal-instructions__middle-categories-item">
                неработающие люди с инвалидностью второй группы;
              </li>
              <li class="detal-instructions__middle-categories-item">
                участники Великой Отечественной войны;
              </li>
              <li class="detal-instructions__middle-categories-item">
                люди, работавшие на предприятиях Ленинграда во время блокады;
              </li>
              <li class="detal-instructions__middle-categories-item">
                представители малочисленных народов Севера;
              </li>
              <li class="detal-instructions__middle-categories-item">
                родители и жены военнослужащих, погибших вследствие ранения, контузии или увечья, полученных при защите
                страны;
              </li>
              <li class="detal-instructions__middle-categories-item">
                ветераны боевых действий на территориях других государств.
              </li>
            </ul>
          </div>

          <div class="detal-instructions__middle-attention">
            <p class="detal-instructions__middle-attention-text">
              Обратите внимание, что в некоторых случаях человеку положены не только лекарства, но и средства для
              реабилитации, перевязочные материалы и даже зубные протезы. К примеру, людям с инвалидностью первой
              группы, неработающим людям с инвалидностью второй группы и детям с инвалидностью в возрасте до 18 лет
              можно за счет государства приобрести калоприемники и мочеприемники, трости, костыли, опоры, кресла-коляски
              и другие средства реабилитации.
            </p>
          </div>

          <div class="detal-instructions__middle-remember">
            <div class="detal-instructions__middle-remember-top">
              <h5 class="detal-instructions__middle-title">
                Запомнить главное
              </h5>
            </div>

            <ul class="detal-instructions__middle-remember-list">
              <li class="detal-instructions__middle-remember-item">
                Направление на ВМП может выдать лечащий врач по результатам обследования.
              </li>

              <li class="detal-instructions__middle-remember-item">
                По закону вы сами можете выбрать клинику, в которой хотите сделать операцию.
              </li>

              <li class="detal-instructions__middle-remember-item">
                Обследования перед госпитализацией тоже обязаны быть бесплатными по полису ОМС.
              </li>

              <li class="detal-instructions__middle-remember-item">
                Если пациент ребенок и он неспособен самостоятельно себя обслуживать — его сопровождает родитель, тоже
                бесплатно.
              </li>

              <li class="detal-instructions__middle-remember-item">
                После лечения пациент имеет право пройти бесплатную реабилитацию.
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="detal-instructions__footer detal-instructions-form">
        <form class="detal-instructions-form__inner" action="#">
          <div class="detal-instructions-form__top">
            <div class="detal-instructions-form__grade">
              <p class="detal-instructions-form__grade-descr">
                Оцените статью
              </p>

              <div class="detal-instructions-form__grade-stars star-rating">
                <div class="star-rating__inner">
                  <input class="star-rating__input" type="radio" id="5-stars" name="rating" value="5" />
                  <label for="5-stars" class="star-rating__label"><svg width="35" height="31" viewBox="0 0 35 31"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M17.5 0L22.8488 9.84829L34.1435 11.7467L26.1546 19.7317L27.7862 30.7533L17.5 25.84L7.21376 30.7533L8.84539 19.7317L0.85651 11.7467L12.1512 9.84829L17.5 0Z"
                        fill="#E6E6E6" />
                    </svg>
                  </label>
                  <input class="star-rating__input" type="radio" id="4-stars" name="rating" value="4" />
                  <label for="4-stars" class="star-rating__label"><svg width="35" height="31" viewBox="0 0 35 31"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M17.5 0L22.8488 9.84829L34.1435 11.7467L26.1546 19.7317L27.7862 30.7533L17.5 25.84L7.21376 30.7533L8.84539 19.7317L0.85651 11.7467L12.1512 9.84829L17.5 0Z"
                        fill="#E6E6E6" />
                    </svg>
                  </label>
                  <input class="star-rating__input" type="radio" id="3-stars" name="rating" value="3" />
                  <label for="3-stars" class="star-rating__label"><svg width="35" height="31" viewBox="0 0 35 31"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M17.5 0L22.8488 9.84829L34.1435 11.7467L26.1546 19.7317L27.7862 30.7533L17.5 25.84L7.21376 30.7533L8.84539 19.7317L0.85651 11.7467L12.1512 9.84829L17.5 0Z"
                        fill="#E6E6E6" />
                    </svg>
                  </label>
                  <input class="star-rating__input" type="radio" id="2-stars" name="rating" value="2" />
                  <label for="2-stars" class="star-rating__label"><svg width="35" height="31" viewBox="0 0 35 31"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M17.5 0L22.8488 9.84829L34.1435 11.7467L26.1546 19.7317L27.7862 30.7533L17.5 25.84L7.21376 30.7533L8.84539 19.7317L0.85651 11.7467L12.1512 9.84829L17.5 0Z"
                        fill="#E6E6E6" />
                    </svg>
                  </label>
                  <input class="star-rating__input" type="radio" id="1-star" name="rating" value="1" />
                  <label for="1-star" class="star-rating__label"><svg width="35" height="31" viewBox="0 0 35 31"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M17.5 0L22.8488 9.84829L34.1435 11.7467L26.1546 19.7317L27.7862 30.7533L17.5 25.84L7.21376 30.7533L8.84539 19.7317L0.85651 11.7467L12.1512 9.84829L17.5 0Z"
                        fill="#E6E6E6" />
                    </svg>
                  </label>
                </div>
              </div>

              <span class="detal-instructions-form__grade-count">
                5.0
              </span>
            </div>

            <div class="detal-instructions-form__socials">
              <p class="detal-instructions-form__descr">
                Поделитесь
              </p>

              <ul class="detal-instructions-form__socilas-list">
                <li class="detal-instructions-form__socials-item">
                  <a class="detal-instructions-form__socials-link" href="#">
                    <!-- <img class="detal-instructions-form__socials-img" src="" alt="Поделитесь в соц.сетях"> -->
                  </a>
                </li>

                <li class="detal-instructions-form__socials-item">
                  <a class="detal-instructions-form__socials-link" href="#">
                    <!-- <img class="detal-instructions-form__socials-img" src="" alt="Поделитесь в соц.сетях"> -->
                  </a>
                </li>

                <li class="detal-instructions-form__socials-item">
                  <a class="detal-instructions-form__socials-link" href="#">
                    <!-- <img class="detal-instructions-form__socials-img" src="" alt="Поделитесь в соц.сетях"> -->
                  </a>
                </li>

                <li class="detal-instructions-form__socials-item">
                  <a class="detal-instructions-form__socials-link" href="#">
                    <!-- <img class="detal-instructions-form__socials-img" src="" alt="Поделитесь в соц.сетях"> -->
                  </a>
                </li>

                <li class="detal-instructions-form__socials-item">
                  <a class="detal-instructions-form__socials-link" href="#">
                    <!-- <img class="detal-instructions-form__socials-img" src="" alt="Поделитесь в соц.сетях"> -->
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="detal-instructions-form__bottom">
            <p class="detal-instructions-form__bottom-descr">
              Предложите свою тему
            </p>
            <input class="detal-instructions-form__bottom-input" type="text" placeholder="Напишите о...">
            <button class="accent-btn detal-instructions-form__bottom-btn" type="button">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
