<section class="educational-courses">
  <div class="container">
    <div class="educational-courses__inner">
      <h2 class="section-title educational-courses__title">
        <span class="section-title--blue">Образовательные </span>
        курсы
      </h2>

      <div class="educational-courses__be-treated be-treated">
        <div class="be-treated__info">
          <div class="be-treated__free">
            <img loading="lazy" src="img/svg/educational-courses-check.svg" class="be-treated__free-image" width="17"
              height="17" alt="Бесплатный онлайн-курс">
            <p class="be-treated__free-descr">Бесплатный онлайн-курс</p>
          </div>

          <h3 class="section-title be-treated__title">
            <span class="section-title--blue">Как лечиться бесплатно</span>
          </h3>

          <p class="be-treated__descr">
            Узнайте и&nbsp;разберитесь в&nbsp;том, что вам положено по&nbsp;закону,<br> и&nbsp;как действовать, если
            кто-то
            пытается навязать платную услугу.
          </p>

          <div class="be-treated__more">
            <a class="accent-btn be-treated__more-btn" href="#">
              Узнать подробнее
            </a>
            <div class="be-treated__more-descr">
              <img loading="lazy" src="img/svg/educational-courses-check-circle.svg" class="be-treated__more-image"
                width="17" height="17" alt="5 уроков придут вам на почту">
              <p class="be-treated__more-text">5 уроков придут вам на почту</p>
            </div>
          </div>
        </div>

        <div class="be-treated__img">
          <picture>
            <source srcset="img/educational-courses-be-treated/be-treated-img.avif" type="image/avif">
            <source srcset="img/educational-courses-be-treated/be-treated-img.webp" type="image/webp">
            <img loading="lazy" src="img/educational-courses-be-treated/be-treated-img.png"
              class="be-treated__img-image" alt="Как лечиться бесплатно">
          </picture>
        </div>
      </div>

      <div class="educational-courses__be-treated be-treated be-treated--pink">
        <div class="be-treated__info">
          <div class="be-treated__free">
            <img loading="lazy" src="img/svg/educational-courses-check.svg" class="be-treated__free-image" width="17"
              height="17" alt="Бесплатный онлайн-курс">
            <p class="be-treated__free-descr">Бесплатный онлайн-курс</p>
          </div>

          <h3 class="section-title be-treated__title">
            <span class="section-title--blue">Онлайн школа онкопациента</span>
          </h3>

          <p class="be-treated__descr">
            Помогаем людям с&nbsp;онкологией понять как действовать, чтобы получить качественную бесплатную медицинскую
            помощь!
          </p>

          <div class="be-treated__more">
            <a class="accent-btn be-treated__more-btn" href="#">
              Узнать подробнее
            </a>
            <div class="be-treated__more-descr">
              <img loading="lazy" src="img/svg/educational-courses-check-circle.svg" class="be-treated__more-image"
                width="17" height="17" alt="5 уроков придут вам на почту">
              <p class="be-treated__more-text">2&nbsp;месяца обучения на&nbsp;образовательной платформе
                в&nbsp;сопровождении куратора
              </p>
            </div>
          </div>
        </div>

        <div class="be-treated__img">
          <picture>
            <source srcset="img/educational-courses-be-treated/online-school-img.avif" type="image/avif">
            <source srcset="img/educational-courses-be-treated/online-school-img.webp" type="image/webp">
            <img loading="lazy" src="img/educational-courses-be-treated/online-school-img.png"
              class="be-treated__img-image" alt="Онлайн школа онкопациента">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
