<section class="experts-detal">
  <div class="container">
    <div class="experts-detal__inner">
      <h2 class="section-title experts-detal__title">
        <span class="section-title--blue">
          Алексей Анатольевич Старченко
        </span>
      </h2>

      <div class="experts-detal__top">
        <div class="experts-detal__top-img">
          <picture>
            <source srcset="img/experts-detal/experts-detal-img.avif" type="image/avif">
            <source srcset="img/experts-detal/experts-detal-img.webp" type="image/webp">
            <img loading="lazy" src="img/experts-detal/experts-detal-img.jpg" class="experts-detal__top-image" alt="">
          </picture>

          <p class="experts-detal__top-descr">
            член Общественного совета по защите прав пациентов при Росздравнадзоре, д.м.н, профессор
          </p>
        </div>

        <div class="experts-detal__top-info">
          <p class="experts-detal__top-autor">
            Статьи автора
          </p>

          <ul class="experts-detal__top-list">
            <li class="experts-detal__top-item">
              Как я вылечил аневризму артерии головного мозга по ОМС
            </li>

            <li class="experts-detal__top-item">
              Кому положены льготные лекарства
            </li>

            <li class="experts-detal__top-item">
              Смотрим категории граждан, которым положены льготные лекарства
            </li>

            <li class="experts-detal__top-item">
              Смотрим на список болезней, при которых можно получить бесплатные лекарства
            </li>

            <li class="experts-detal__top-item">
              Смотрим на список болезней, при которых можно получить бесплатные лекарства
            </li>

          </ul>

          <a class="see-all experts-detal__top-link" href="#">
            Показать все статьи
            <span class="see-all__arrow experts-detal__top-link-arrow">
              <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1 4.5C0.723858 4.5 0.5 4.72386 0.5 5C0.5 5.27614 0.723858 5.5 1 5.5V4.5ZM11 5L11.3536 5.35355C11.5488 5.15829 11.5488 4.84171 11.3536 4.64645L11 5ZM7.35355 0.646447C7.15829 0.451184 6.84171 0.451184 6.64645 0.646447C6.45118 0.841709 6.45118 1.15829 6.64645 1.35355L7.35355 0.646447ZM6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L6.64645 8.64645ZM1 5.5H11V4.5H1V5.5ZM6.64645 1.35355L10.6464 5.35355L11.3536 4.64645L7.35355 0.646447L6.64645 1.35355ZM10.6464 4.64645L6.64645 8.64645L7.35355 9.35355L11.3536 5.35355L10.6464 4.64645Z"
                  fill="#193C6D" />
              </svg>
            </span>
          </a>
        </div>
      </div>

      <div class="experts-detal__bottom info-expert">
        <div class="info-expert__left">
          <p class="info-expert__info-autor">
            член Общественного совета по защите прав пациентов при Росздравнадзоре, д.м.н, профессор
          </p>
        </div>

        <div class="info-expert__info">
          <h3 class="info-expert__title">
            Информация
          </h3>
          <div class="info-expert__descr">
            <p class="info-expert__descr-text">

              Родился в г. Клин Московской области. В 1982 году окончил Болшевскую среднюю школу №3 Московской области с
              золотой медалью. В этом же году поступил на факультет подготовки врачей для сухопутных войск
              Военно-медицинской академии им. С.М. Кирова МО СССР, которую окончил с отличием и золотой медалью в 1988
              году. В течение двух лет проходил службу в ВС СССР в должности начальника медицинской службы войсковой
              части Таманской Гвардейской дивизии МВО. Затем с 1990 по 1994 гг. работал в должности преподавателя
              Медицинского научно-практического общества «Жизнь» Военно-медицинской академии им. С.М. Кирова.
              Одновременно А.А. Старченко занимал должность научного сотрудника группы анестезиологии СПбНИИ уха, горла,
              носа и речи, где в сферу его профессиональной деятельности входила организация и осуществление
              специализированной анестезологической помощи больным ЛОР-профиля. В этот же период А.А. Старченко занимал
              по совместительству должность анестезиолога-реаниматолога кафедры нейрохирургии и научного сотрудника
              научно-исследовательской лаборатории боевых и стрессовых повреждений ЦНС при массовых катастрофах и
              конфликтах при Военно-­медицинской академии им. С.М. Кирова.

            </p>

            <p class="info-expert__descr-text">
              В 1992 году в Специализированном совете по нейрохирургии и неврологии Военно-медицинской академии им. С.М.
              Кирова защитил диссертацию на соискание ученой степени кандидата медицинских наук, а в 1994 году по
              нейрохирургии и неврологии — докторскую.
            </p>
          </div>

          <h3 class="info-expert__title">
            Специализация
          </h3>

          <div class="info-expert__descr">
            <p class="info-expert__descr-text">
              Организация и осуществление специализированной анестезиологической помощи больным ЛОР-профиля,
              нейрохирургия и неврология
            </p>
          </div>

          <h3 class="info-expert__title">
            Образование
          </h3>

          <div class="info-expert__descr">
            <p class="info-expert__descr-text">
              Военно-медицинская академия им. С.М. Кирова МО СССР
            </p>
          </div>

          <h3 class="info-expert__title">
            Опыт и достижения
          </h3>

          <div class="info-expert__descr">
            <p class="info-expert__descr-text">
              Начальник медицинской службы войсковой части Таманской Гвардейской дивизии МВО
            </p>

            <p class="info-expert__descr-text">
              Преподаватель Медицинского научно-практического общества «Жизнь» Военно-медицинской академии им. С.М.
              Кирова
            </p>

            <p class="info-expert__descr-text">
              Научный сотрудник группы анестезиологии СПбНИИ уха, горла, носа и речи
            </p>

            <p class="info-expert__descr-text">
              Анестезиолог-реаниматолог кафедры нейрохирургии
            </p>

            <p class="info-expert__descr-text">
              Научный сотрудник научно-исследовательской лаборатории боевых и стрессовых повреждений ЦНС при массовых
              катастрофах и конфликтах при Военно-­медицинской академии им. С.М. Кирова
            </p>

            <p class="info-expert__descr-text">
              В период с 1998 года по 2004 гг. работал в должности директора Департамента медицинского страхования
              населения Московской области ОАО «Медстрах».
            </p>

            <p class="info-expert__descr-text">
              С февраля 2004 по октябрь 2008 года работал в должности заместителя директора по экспертным вопросам в ООО
              «Медицинская страховая компания РЕСО-Мед».
            </p>

            <p class="info-expert__descr-text">
              Президент НП «Национальное Агентство по безопасности пациентов и независимой медицинской экспертизе».
              Сопредседатель комитета независимой экспертизы НП «Национальная медицинская палата».
            </p>
          </div>

          <h3 class="info-expert__title">
            Профессиональный стаж
          </h3>

          <div class="info-expert__descr">
            <p class="info-expert__descr-text">
              Более 20 лет
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
