<footer>
  <div class="container">
    <div class="row">
      <div class="links__container">
        <div class="column">
          <ul class="hot-numbers">
            <li>
              <p>Федеральный
                номер</p><a href="tel:8-800-100-81-02">8-800-100-81-02</a>
            </li>
            <li>
              <p>Региональный номер</p>
              <a href="tel:+7(4812)33-98-87">+7(4812)33-98-87</a>
            </li>

            <li class="point_footer">
              <p>Адрес регионального офиса</p>
              <span>214018, г. Смоленск, улица Памфилова, д. 5</span>
              <div id="appPagePhonesFooter" class="sheduleBlock fromLocation"><i></i>
                <h6 class="status on">Открыто с 09:00 до 18:00</h6>
                <div class="openShedule"><a href="javascript:;"><span>Режим работы</span><i
                      class="ri-arrow-down-s-line"></i></a></div>
                <ul class="shedule__list">
                  <li>
                    <p class="day">Пн</p>
                    <p class="times">
                      09:00-18:00 </p>
                  </li>
                  <li>
                    <p class="day">Вт</p>
                    <p class="times">
                      09:00-18:00 </p>
                  </li>
                  <li>
                    <p class="day">Ср</p>
                    <p class="times">
                      09:00-18:00 </p>
                  </li>
                  <li>
                    <p class="day">Чт</p>
                    <p class="times">
                      09:00-18:00 </p>
                  </li>
                  <li>
                    <p class="day">Пт</p>
                    <p class="times">
                      09:00-18:00 </p>
                  </li>
                  <li>
                    <p class="day">Сб</p>
                    <p class="times">
                      Выходной </p>
                  </li>
                  <li>
                    <p class="day">Вс</p>
                    <p class="times">
                      Выходной </p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="socialLinks">
            <h6 class="socialLinks__title">Присоединяйтесь к нам<br> в социальных сетях</h6>
            <ul>
              <li id="bx_2970353375_6">
                <a href="https://www.youtube.com/channel/UC1rAcl2bQ52DM_VKXmjtLdQ/featured" rel="nofollow"
                  target="_blank">
                  <span style="font-size:0; line-height: 0;"><img src="./assets/8b6a2de1763f1f7041f875cd78e4f451.svg"
                      alt="youtube"></span>
                </a>
              </li>
              <li id="bx_2970353375_38712">
                <a class="social-link__facebook" href="#" rel="nofollow" target="_blank">
                  <span style="font-size:0; line-height: 0;"><img src="../img/footer/facebook-footer.svg" alt="
                      facebook"></span>
                </a>
              </li>
              <li id="bx_2970353375_7">
                <a href="https://ok.ru/kapmed" rel="nofollow" target="_blank">
                  <span style="font-size:0; line-height: 0;"><img src="./assets/ee62c84ff070f16356a23417a45d8ace.svg"
                      alt="ok"></span>
                </a>
              </li>
              <li id="bx_2970353375_4">
                <a href="http://vk.com/kapmed" rel="nofollow" target="_blank">
                  <span style="font-size:0; line-height: 0;"><img src="./assets/42ca112dd353c2a08d14e4638c8d1aa4.svg"
                      alt="vk"></span>
                </a>
              </li>
              <li id="bx_2970353375_38713">
                <a href="https://zen.yandex.ru/kapmed" rel="nofollow" target="_blank">
                  <span style="font-size:0; line-height: 0;"><img src="./assets/d9e9d506f4504326fb5c7008af3aa29f.svg"
                      alt="yandex"></span>
                </a>
              </li>


            </ul>
          </div>
        </div>

        <div class="new-column__container">
          <div class="column new-column">
            <ul class="partition info-centr__list">
              <li><a href="#">Справочный центр</a><i class="ri-arrow-down-s-line"></i></li>
              <li><a class="info-centr" href="#">
                  <img src="../img/footer/info-circle.svg" alt="О проекте">
                  О проекте</a></li>
              <li><a class="info-centr" href="#">
                  <img src="../img/footer/messages.svg" alt="Вопрос-ответ">
                  Вопрос-ответ</a></li>
              <li><a class="info-centr" href="#">
                  <img src="../img/footer/book.svg" alt=" Школа пациента">
                  Школа пациента</a></li>
              <li><a class="info-centr" href="#">
                  <img src="../img/footer/shield-tick.svg" alt="Помощь в реальных ситуациях">
                  Помощь в реальных ситуациях</a></li>
              <li><a class="info-centr" href="#">
                  <img src="../img/footer/task-square.svg" alt="Полезные материалы">
                  Полезные материалы</a></li>
              <li><a class="info-centr" href="#">
                  <img src="../img/footer/teacher.svg" alt="Образовательные курсы">
                  Образовательные курсы</a></li>
            </ul>

            <ul class="partition">
              <li><a href="http://dev.kapmed.ru/protection/">Защита прав</a><i class="ri-arrow-down-s-line"></i>
              </li>
              <li><a href="http://dev.kapmed.ru/protection/agents/your/">Ваш страховой
                  представитель</a></li>
              <li><a href="http://dev.kapmed.ru/protection/history/">Подать жалобу</a></li>
            </ul>
          </div>

          <div class="column new-column">
            <ul class="partition">
              <li><a href="http://dev.kapmed.ru/policy/">Полис ОМС</a><i class="ri-arrow-down-s-line"></i></li>
              <li><a href="http://dev.kapmed.ru/policy/registration/">Заявка на полис ОМС</a></li>
              <li><a href="http://dev.kapmed.ru/policy/docs/">Документы для оформления полиса</a>
              </li>
              <li><a href="http://dev.kapmed.ru/policy/points/">Пункты выдачи полисов</a></li>
              <li><a href="http://dev.kapmed.ru/policy/delivery/">Доставка полиса ОМС</a></li>
            </ul>

            <ul class="partition">
              <li><a href="http://dev.kapmed.ru/dispanser/">Диспансеризация</a></li>
            </ul>

            <ul class="partition">
              <li><a href="http://dev.kapmed.ru/school/">Школа пациента</a></li>
            </ul>

            <ul class="partition">
              <li><a href="#">Ваш филиал</a></li>
            </ul>
          </div>

          <div class="column new-column">
            <ul class="partition">
              <li><a href="http://dev.kapmed.ru/about/">О компании</a><i class="ri-arrow-down-s-line"></i></li>
              <li><a href="http://dev.kapmed.ru/about/press/news/">Пресс-центр</a></li>
              <li><a href="http://dev.kapmed.ru/about/methodical/">Научно-практическая
                  деятельность</a></li>
              <li><a href="http://dev.kapmed.ru/about/projects/">Проекты компании</a></li>
              <li><a href="№">Наша команда</a></li>
            </ul>

            <ul class="partition">
              <li><a href="#">Система ОМС</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="links__container links__container_bottom">
        <div class="column">
          <ul>
            <li>
              <p>© 1994-2022 ООО «Капитал МС»
              </p>
            </li>
            <li>
              <p><a target="_blank"
                  href="http://dev.kapmed.ru/upload/iblock/de7/de7eb70382f17e0fc08d4aff9aaa77c5.pdf">Политика
                  в области обработки персональных данных</a></p>
            </li>
            <li>
              <p class="lastUpdate">Последнее обновление сайта: 30.09.2022 10:00</p>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>
              <p><a target="_blank"
                  href="http://dev.kapmed.ru/upload/iblock/640/640eb1e6cdb05cec03097f2e0e864e8c.pdf">Лицензия
                  Банка России ОС №3676-01 от 16.11.2018 г.</a></p>
            </li>
            <li>
              <p><a href="http://dev.kapmed.ru/sitemap/">Карта сайта</a></p>
            </li>
            <li>
              <a href="javascript:void(0)" class="print-button footer_print_button" data-button="print">
                <div class="image"><img src="../img/footer/printer-footer.svg" alt="print"></div>
                <span>Распечатать страницу</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>
              <p class="footer-note">
                Любое использование либо копирование материалов или подборки материалов сайта,
                элементов дизайна и оформления допускается лишь
                с разрешения правообладателя и только со ссылкой на источник:
                <a href="http://kapmed.ru/">www.kapmed.ru</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="links__container links__cookie_block">
        <div class="column"></div>
        <div class="column">
          <p>
            Мы используем cookies для сбора обезличенных персональных данных. Они помогают настраивать
            рекламу и анализировать трафик. Оставаясь на сайте, вы соглашаетесь на сбор таких
            данных. </p>
          <p>
            Для просмотра информации на сайте рекомендуется использовать браузер, который поддерживает
            российский сертификат безопасности. На текущий момент такая функциональность есть у
            Яндекс.Браузера и браузера «Атом». </p>
        </div>
      </div>
    </div>
  </div>

</footer>
