<section class="have-history">
  <div class="container">
    <div class="have-history__inner">
      <div class="have-history__info">
        <h3 class="section-title have-history__title">
          <span class="section-title--blue">
            У меня есть история
          </span>
        </h3>

        <p class="have-history__descr">
          Она поможет другим не попасться на удочку недобросовестных врачей и сохранить здоровье и деньги
        </p>

        <a class="accent-btn have-history__link" href="#">
          Рассказать свою историю
        </a>
      </div>

      <div class="have-history__img">
        <img loading="lazy" src="img/have-history/have-history-bg.svg" alt="Рассказать свою историю">
      </div>
    </div>
  </div>
</section>
