<section class="have-questions">
  <div class="container">
    <div class="have-questions__inner">
      <div class="have-questions__questions">
        <h3 class="section-title have-questions__title">
          Остались вопросы?
        </h3>

        <p class="have-questions__descr">
          Если столкнулись с вопросами или проблемами по данной теме, вы можете:
        </p>
      </div>

      <ul class="have-questions__list">
        <li class="have-questions__item">
          <img loading="lazy" src="img/svg/have-questions-feedback.svg" class="have-questions__item-image" width="48"
            height="48" alt="задать вопрос в форме обратной связи">
          <p class="have-questions__item-descr">
            <a class="have-questions__item-link" href="#">задать вопрос</a>
            в форме обратной связи
          </p>
        </li>

        <li class="have-questions__item">
          <img loading="lazy" src="img/svg/have-questions-complaints.svg" class="have-questions__item-image" width="48"
            height="48" alt="задать вопрос в форме обратной связи">
          <p class="have-questions__item-descr">
            посмотреть ответ
            <a class="have-questions__item-link" href="#">в подборке частых вопросов</a>
          </p>
        </li>

        <li class="have-questions__item">
          <img loading="lazy" src="img/svg/have-questions-phone.svg" class="have-questions__item-image" width="48"
            height="48" alt="задать вопрос в форме обратной связи">
          <p class="have-questions__item-descr">
            позвонить на горячую линию
            <a class="have-questions__item-link" href="tel:88001008101">8 800 100-81-01</a>
          </p>
        </li>

        <li class="have-questions__item">
          <img loading="lazy" src="img/svg/have-questions-compilation.svg" class="have-questions__item-image" width="48"
            height="48" alt="задать вопрос в форме обратной связи">
          <p class="have-questions__item-descr">
            <a class="have-questions__item-link" href="#">оставить жалобу</a>
            о возникшей проблеме с медорганизацией
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
