<section class="help-stories-detal">
  <div class="container">
    <div class="help-stories-detal__inner">
      <div class="help-stories-detal__top">
        <a class="help-stories-detal__top-link" href="#">
          <img loading="lazy" src="img/instructions-articles/instructions-articles-x.svg"
            class="help-stories-detal__top-image" alt="Проблемы со своевременным получением медицинских услуг">
          Проблемы со своевременным получением медицинских услуг
        </a>
      </div>

      <div class="help-stories-detal__appeal">
        <h3 class="help-stories-detal__appeal-title">
          Как мне за 1 день организовали доставку
          необходимого лекарства и спасли жизнь
        </h3>

        <div class="help-stories-detal__appeal-body">
          <div class="help-stories-detal__appeal-person appeal-person">
            <div class="appeal-person__inner">
              <div class="appeal-person__img">
                <img loading="lazy" src="img/help-stories-detal/help-stories-detal-person.svg"
                  alt="Фото людей, у которых Проблемы со своевременным получением медицинских услуг">
              </div>
              <div class="appeal-person__left">
                <h5 class="appeal-person__left-title">
                  Светлана Б., Якутск
                </h5>

                <p class="appeal-person__left-descr">
                  «Обратилась к врачу женской консультации с жалобами на образование в молочной железе, назначено УЗИ
                  молочной железы, УЗИ органов малого таза, клинические анализы. После исследований врач выставила
                  диагноз фиброаденома молочной железы и назначила гормональные препараты. Цитологическое исследование,
                  консультация специалиста онколога для исключения ЗНО в районной больнице не проводилось. По назначению
                  врача пролечилась 3 месяца, новообразование увеличилось в размере. Застрахованная обратилась в другое
                  лечебное учреждение, где назначили биопсию и направили к врачу-онкологу. После обследования с
                  подтвержденным диагнозом ЗНО направлена в город Якутск в онкологический диспансер, где проведена
                  операция – радикальная мастэктомия. Некомпетентность районного врача привело к прогрессированию
                  заболевания. После оперативного лечения, назначена химиотерапия по месту жительства. Схема лечения и
                  выписка на руках у застрахованной. По месту жительства необходимых лекарств не оказалось в наличии.
                  Врач выписал рецепт, время ожидания препаратов по рецепту в аптеке около 2 недель. Промедление и
                  несвоевременное лечение опасно для жизни.»
                </p>
              </div>
            </div>
          </div>

          <div class="help-stories-detal__appeal-specialist appeal-specialist">
            <div class="appeal-specialist__inner">
              <div class="appeal-specialist__right">
                <h5 class="appeal-specialist__right-title">
                  Cтраховой представитель 3-го уровня Капитал МС, Васильева Н.
                </h5>

                <p class="appeal-specialist__right-descr">
                  СМО по данному обращению вышла на связь с руководством медицинской организации по вопросу
                  несвоевременного обеспечения лекарственным препаратом застрахованной. В срочном порядке организована
                  доставка лекарственного препарата с онкологического диспансера в центральную районную больницу.
                  Застрахованная на следующий день была обеспечена необходимым лекарственным химиотерапевтическим
                  препаратом. Медицинское обслуживание, лечение, сроки соблюдения ХТ взято под личный контроль СМО.
                  После курса химиотерапии в центральной районной больнице, застрахованная направлена на дальнейшее
                  дообследование и лечение в республиканский онкологический диспансер. По данному обращению проведена
                  экспертиза качества медицинской помощи. Результат экспертизы: экспертом КМП установлен дефект качества
                  при оказании медицинской помощи на всех этапах оказания медицинской помощи по коду дефекта 3.2.3 и
                  3.2.2.
                </p>
              </div>

              <div class="appeal-specialist__img">
                <img loading="lazy" src="img/help-stories-detal/help-stories-detal-specialist.svg"
                  alt="Фото специалиста">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="help-stories-detal__thanks">
        <p class="help-stories-detal__thanks-text">
          Заявительница Светлана Б. выразила устную благодарность страховой медицинской организации за своевременность и
          оперативность оказания помощи на обращение.
        </p>
        <audio controls src="../resources/ac_dc_-_highway_to_hell_muzati.net.mp3"
          style="width: 100%; margin-bottom: 60px;"></audio>

        <div class="help-stories-detal__thanks-footer">
          <div class="help-stories-detal__thanks-img">
            <picture>
              <source srcset="img/help-stories-detal/help-stories-detal-thanks.avif" type="image/avif">
              <source srcset="img/help-stories-detal/help-stories-detal-thanks.webp" type="image/webp">
              <img loading="lazy" src="img/help-stories-detal/help-stories-detal-thanks.jpg" alt="фото заявителья">
            </picture>
          </div>

          <p class="help-stories-detal__thanks-descr">
            Заявительница Светлана Б. выразила письменную благодарность страховой медицинской организации за
            своевременность и оперативность оказания помощи на обращение.
          </p>
        </div>

        <time class="help-stories-detal__thanks-time">
          Дата публикации: 16.09.2022
        </time>
      </div>
    </div>
  </div>
</section>
