<section class="help-center">
  <div class="container">
    <div class="help-center__inner">
      <div class="help-center__top">
        <div class="help-center__info">
          <h3 class="section-title help-center__title">
            Справочный центр
            <span class="section-title--blue">
              Капитал МС
            </span>
          </h3>

          <p class="help-center__descr">
            Просто и доступно — о том как получать
            медпомощь бесплатно, своевременно
            и качественно по полису ОМС
          </p>
        </div>

        <div class="help-center__img">
          <img loading="lazy" src="img/help-center/help-center-bg.svg" class="help-center__img-bg" alt="Доктор">
        </div>
      </div>
      <div class="help-center__bottom">
        <ul class="help-center__list">
          <li class="help-center__item">
            <a class="help-center__item-link" href="#">
              О проекте
            </a>
          </li>

          <li class="help-center__item">
            <a class="help-center__item-link" href="#">
              Вопрос-ответ
            </a>
          </li>

          <li class="help-center__item">
            <a class="help-center__item-link" href="#">
              Школа пациента
            </a>
          </li>

          <li class="help-center__item">
            <a class="help-center__item-link" href="#">
              Истории помощи
            </a>
          </li>

          <li class="help-center__item">
            <a class="help-center__item-link" href="#">
              Полезные материалы
            </a>
          </li>

          <li class="help-center__item">
            <a class="help-center__item-link" href="#">
              Онлайн курсы
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
