<section class="instructions-articles">
  <div class="container">
    <div class="instructions-articles__inner">
      <div class="instructions-articles__top">
        <h2 class="section-title instructions-articles__title">
          <span class="section-title--blue">Истории помощи </span>
          в реальных ситуациях
        </h2>

        <a class="see-all instructions-articles__link" href="#">
          Посмотреть все
          <span class="see-all__arrow instructions-articles__link-arrow">
            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 4.5C0.723858 4.5 0.5 4.72386 0.5 5C0.5 5.27614 0.723858 5.5 1 5.5V4.5ZM11 5L11.3536 5.35355C11.5488 5.15829 11.5488 4.84171 11.3536 4.64645L11 5ZM7.35355 0.646447C7.15829 0.451184 6.84171 0.451184 6.64645 0.646447C6.45118 0.841709 6.45118 1.15829 6.64645 1.35355L7.35355 0.646447ZM6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L6.64645 8.64645ZM1 5.5H11V4.5H1V5.5ZM6.64645 1.35355L10.6464 5.35355L11.3536 4.64645L7.35355 0.646447L6.64645 1.35355ZM10.6464 4.64645L6.64645 8.64645L7.35355 9.35355L11.3536 5.35355L10.6464 4.64645Z"
                fill="#193C6D" />
            </svg>
          </span>
        </a>

      </div>

      <p class="instructions-articles__descr">
        Узнайте какие нарушения прав пациента часто встречаются
        и как надо действовать, чтобы защитить себя и своих близких.
      </p>

      <ul class="instructions-articles__list">
        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--active" href="#">
            Все
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-x.svg"
              class="instructions-articles__item-image" alt=" Проблемы со своевременным получением медицинских услуг">
            Проблемы со своевременным получением медицинских услуг
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-cash.svg"
              class="instructions-articles__item-image" alt="    Требуют оплаты медицинских услуг по ОМС">
            Требуют оплаты медицинских услуг по ОМС
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-treatment.svg"
              class="instructions-articles__item-image" alt="Беременность и роды">
            Проблемы в предоставлении плановой госпитализации
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-document.svg"
              class="instructions-articles__item-image" alt="Необходима экспертиза качества медицинской помощи">
            Необходима экспертиза качества медицинской помощи
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
