<section class="instructions-articles">
  <div class="container">
    <div class="instructions-articles__inner">
      <div class="instructions-articles__top">
        <h2 class="section-title instructions-articles__title">
          Полезные
          <span class="section-title--blue">материалы</span>
        </h2>
      </div>

      <ul class="instructions-articles__list">

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-video.svg"
              class="instructions-articles__item-image" alt="Видео-инструкции">
            Видео-инструкции
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-audio.svg"
              class="instructions-articles__item-image" alt="Аудиоматериалы">
            Аудиоматериалы
          </a>
        </li>

        <li class="instructions-articles__item">
          <!-- instructions-articles__item-link--active добавь класс -->
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-document.svg"
              class="instructions-articles__item-image" alt="Образцы заявлений и доверенностей">
            Образцы заявлений и доверенностей
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
