<section class="instructions-articles">
  <div class="container">
    <div class="instructions-articles__inner">
      <div class="instructions-articles__top">
        <h2 class="section-title instructions-articles__title">
          <span class="section-title--blue">Статьи и </span>
          инструкции
        </h2>

        <a class="see-all instructions-articles__link" href="#">
          Посмотреть все
          <span class="see-all__arrow instructions-articles__link-arrow">
            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 4.5C0.723858 4.5 0.5 4.72386 0.5 5C0.5 5.27614 0.723858 5.5 1 5.5V4.5ZM11 5L11.3536 5.35355C11.5488 5.15829 11.5488 4.84171 11.3536 4.64645L11 5ZM7.35355 0.646447C7.15829 0.451184 6.84171 0.451184 6.64645 0.646447C6.45118 0.841709 6.45118 1.15829 6.64645 1.35355L7.35355 0.646447ZM6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L6.64645 8.64645ZM1 5.5H11V4.5H1V5.5ZM6.64645 1.35355L10.6464 5.35355L11.3536 4.64645L7.35355 0.646447L6.64645 1.35355ZM10.6464 4.64645L6.64645 8.64645L7.35355 9.35355L11.3536 5.35355L10.6464 4.64645Z"
                fill="#193C6D" />
            </svg>
          </span>
        </a>

      </div>

      <p class="instructions-articles__descr">
        Узнайте и разберитесь в том, что вам положено по закону, как этим воспользоваться и что делать, если кто-то
        пытается навязать платную услугу или отказывают в нужной медпомощи.
      </p>

      <ul class="instructions-articles__list">
        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--green" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-check.svg"
              class="instructions-articles__item-image" alt=" Профилактика и реабилитация">
            Профилактика и реабилитация
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--orange" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-treatment.svg"
              class="instructions-articles__item-image" alt="Лечение заболеваний">
            Лечение заболеваний
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--red" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-smile.svg"
              class="instructions-articles__item-image" alt="Как лечиться бесплатно">
            Как лечиться бесплатно
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--blue" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-pregnancy.svg"
              class="instructions-articles__item-image" alt="Беременность и роды">
            Беременность и роды
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--yellow" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-document.svg"
              class="instructions-articles__item-image" alt="Документ">
            Про полис ОМС
          </a>
        </li>

        <li class="instructions-articles__item">
          <a class="instructions-articles__item-link instructions-articles__item-link--purple" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-scales.svg"
              class="instructions-articles__item-image" alt="Весы">
            По закону
          </a>
        </li>

        <li class="instructions-articles__item instructions-articles__item--search">
          <a class="instructions-articles__item-link" href="#">
            <img loading="lazy" src="img/instructions-articles/instructions-articles-search.svg"
              class="instructions-articles__item-image" alt="Поиск">
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>
