<div class="medical-articles">
  <div class="container">
    <div class="medical-articles__inner">
      <article class="medical-article">
        <div class="medical-article__top">
          <p class="medical-article__top-text instructions-articles__item-link--green">
            Профилактика и реабилитация
          </p>

          <time class="medical-article__top-time">
            24.02.2022
          </time>
        </div>

        <p class="medical-article__descr">
          Углубленная диспансеризация лиц после COVID-19
        </p>

        <div class="medical-article__img medical-article__img--lite-green">
          <img loading="lazy" src="img/medical-articles/medical-articles-1.svg"
            alt="Углубленная диспансеризация лиц после COVID-19">
        </div>
      </article>

      <article class="medical-article">
        <div class="medical-article__top">
          <p class="medical-article__top-text instructions-articles__item-link--green">
            Профилактика и реабилитация
          </p>

          <time class="medical-article__top-time">
            24.02.2022
          </time>
        </div>

        <p class="medical-article__descr">
          Цифровой полис ОМС.
          Как это будет? Мнение эксперта.
        </p>

        <div class="medical-article__img medical-article__img--lite-blue">
          <img loading="lazy" src="img/medical-articles/medical-articles-2.svg" alt="Цифровой полис ОМС.
            Как это будет? Мнение эксперта.">
        </div>
      </article>

      <article class="medical-article">
        <div class="medical-article__top">
          <p class="medical-article__top-text instructions-articles__item-link--purple">
            По закону
          </p>

          <time class="medical-article__top-time">
            24.02.2022
          </time>
        </div>

        <p class="medical-article__descr">
          Какие сроки ожидания медпомощи по закону?
        </p>

        <div class="medical-article__img medical-article__img--fiol">
          <img loading="lazy" src="img/medical-articles/medical-articles-3.svg"
            alt="Какие сроки ожидания медпомощи по закону?">
        </div>
      </article>

      <article class="medical-article">
        <div class="medical-article__top">
          <p class="medical-article__top-text instructions-articles__item-link--yellow">
            Про полис ОМС
          </p>

          <time class="medical-article__top-time">
            24.02.2022
          </time>
        </div>

        <p class="medical-article__descr">
          ТОП 5 причин взять
          полис ОМС
          в отпуск
        </p>

        <div class="medical-article__img medical-article__img--green">
          <img loading="lazy" src="img/medical-articles/medical-articles-4.svg" alt="ТОП 5 причин взять
            полис ОМС
            в отпуск">
        </div>
      </article>

      <article class="medical-article">
        <div class="medical-article__top">
          <p class="medical-article__top-text instructions-articles__item-link--red">
            Как лечиться бесплатно
          </p>

          <time class="medical-article__top-time">
            24.02.2022
          </time>
        </div>

        <p class="medical-article__descr">
          Трудный возраст: сопровождение по ОМС лиц старше 65 лет
        </p>

        <div class="medical-article__img medical-article__img--lite-fiol">
          <img loading="lazy" src="img/medical-articles/medical-articles-5.svg"
            alt="Углубленная диспансеризация лиц после COVID-19">
        </div>
      </article>

      <article class="medical-article">
        <div class="medical-article__top">
          <p class="medical-article__top-text instructions-articles__item-link--yellow">
            Про полис ОМС
          </p>

          <time class="medical-article__top-time">
            24.02.2022
          </time>
        </div>

        <p class="medical-article__descr">
          Как получить электронный
          полис ОМС
        </p>

        <div class="medical-article__img medical-article__img--blue">
          <img loading="lazy" src="img/medical-articles/medical-articles-6.svg" alt="Как получить электронный
            полис ОМС">
        </div>
      </article>
    </div>
  </div>
</div>
