<div class="policy-question">
  <div class="container">
    <div class="policy-question__inner">
      <div class="policy-question__select">
        <p class="policy-question__select-text">
          У меня есть вопросы по полису ОМС ...
        </p>
        <span class="policy-question__select-arrow">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1.00024L7 7.00024L13 1.00024" stroke="#031317" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
      </div>

      <ul class="policy-question__questions">
        <li class="policy-question__item"><a class="policy-question__question" href="#">как выбрать/заменить страховую
            медорганизацию?</a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">как получить цифровой полис ОМС?
          </a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">какой срок действия полиса
            ОМС/временного свидетельства?</a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">как заменить полис ОМС старого
            образца на новый?
          </a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">как оформить полис ОМС на
            ребенка?</a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">как приостановить действие
            полиса ОМС в связи с прохождением военной службы?</a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">как получить полис ОМС единого
            образца на материальном носителе?</a></li>

        <li class="policy-question__item"><a class="policy-question__question" href="#">как оформить полис ОМС на
            иностранного гражданина/лица без гражданства?</a></li>


      </ul>

      <ul class="policy-question__dropdown">
        <li class="policy-question__dropdown-item policy-question__dropdown-item--selected"> У меня есть вопросы по
          полису ОМС ...</li>
        <li class="policy-question__dropdown-item"> У меня есть вопросы по
          полису ОМС ...2</li>
        <li class="policy-question__dropdown-item"> У меня есть вопросы по
          полису ОМС ...3</li>
        <li class="policy-question__dropdown-item"> У меня есть вопросы по
          полису ОМС ...4</li>
        <li class="policy-question__dropdown-item"> У меня есть вопросы по
          полису ОМС ...5</li>
      </ul>
    </div>
  </div>
</div>
