<section class="questions-answers">
  <div class="container">
    <h3 class="section-title questions-answers__title">
      <span class="section-title--blue">
        Вопросы и
      </span>
      ответы
    </h3>

    <div class="questions-answers__inner">
      <form class="questions-answers__form" action="#">
        <div class="questions-answers__form-img">
          <img loading="lazy" src="img/svg/questions-answers-search-white.svg" class="questions-answers__form-image"
            width="25" height="25" alt="Чем мы можем помочь?">
        </div>

        <input class="questions-answers__form-input" type="search" placeholder="Чем мы можем помочь?">
      </form>

      <div class="questions-answers__indicators">
        <a class="questions-answers__indicators-link questions-answers__indicators-link--active" href="#">Все</a>
        <a class="questions-answers__indicators-link questions-answers__indicators-link--new" href="#">Новое</a>
        <a class="questions-answers__indicators-link questions-answers__indicators-link--updated" href="#">Обновлено</a>
      </div>

      <div class="questions-answers__body">
        <h4 class="questions-answers__lists-title">
          Рубрикатор
        </h4>
        <ul class="questions-answers__list">
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              50 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              Об обеспечении полисами ОМС граждан Российской Федерации.
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              10 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              Об обеспечении полисами ОМС иностранных граждан, беженцев.
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              5 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О качестве медицинской помощи.
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              35 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О выборе и замене СМО
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              15 вопросов
            </span>

            <span class="questions-answers__item-updated">
              Обновлено
            </span>

            <a class="questions-answers__item-link" href="">
              О выборе МО в сфере ОМС
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              10 вопросов
            </span>

            <span class="questions-answers__item-new">
              Новое
            </span>

            <a class="questions-answers__item-link" href="">
              О выборе врача
            </a>
          </li>

          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              50 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              Об организации работы МО
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              10 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О профмероприятиях
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              5 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              Новая коронавирусная инфекция
            </a>
          </li>

          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              16 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О санитарно-гигиеническом состоянии МО
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              8 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              Вакцинация
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              9 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О материально-техническом обеспечении МО
            </a>
          </li>

          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              30 вопросов
            </span>

            <a class="questions-answers__item-link" href="">

              Об этике и деонтологии медицинсх работников


            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              15 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О лекарственном обеспечении при оказании медицинской помощи
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              6 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              Об отказе в оказании медицинской помощи по программам ОМС
            </a>
          </li>

          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              9 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О взимании денежных средств за медицинскую помощь по программам ОМС
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              14 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О видах, качестве и условиях предоставления медицинской помощи по программам ОМС
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              5 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О платных медицинских услугах, оказываемых в МО
            </a>
          </li>

          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              10 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О неправомерном распространении персональных данных
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              25 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О выделении средств для оплаты МП в рамках ТПГГ оказания бесплатной медицинской помощи
            </a>
          </li>
          <li class="questions-answers__item">
            <span class="questions-answers__item-count">
              45 вопросов
            </span>

            <a class="questions-answers__item-link" href="">
              О вопросах, не относящихся к сфере ОМС
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
