<section class="real-stories-history">
  <div class="container">
    <div class="real-stories-history__top">
      <h3 class="section-title real-stories-history__title">
        Истории помощи
        <span class="section-title--blue">
          в реальных ситуациях
        </span>
      </h3>

      <p class="real-stories-history__descr">
        Узнайте какие нарушения прав пациента часто встречаются и как надо действовать, чтобы защитить себя и своих
        близких.
      </p>
    </div>

    <div class="real-stories">
      <ul class="real-stories__list">
        <li class="real-stories__item">
          <p class="real-stories__item-descr">
            Как мне вернули 400 000 ₽
            за дорогие лекарства которые мне купили родственники, когда я был в реабилитации
          </p>

          <div class="real-stories__item-picture real-stories__item-picture--green">
            <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
              alt="Реальные истории людей">
          </div>
        </li>

        <li class="real-stories__item">
          <p class="real-stories__item-descr">
            "Ждите месяц, мест нет" —
            Как мне растягивали сроки
            на проведение КТ органов грудной клетки
          </p>

          <div class="real-stories__item-picture real-stories__item-picture--blue">
            <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
              alt="Реальные истории людей">
          </div>
        </li>

        <li class="real-stories__item">
          <p class="real-stories__item-descr">
            Как я добилась, чтобы к моему лежачему отцу, больному онкологией, приехала делегация врачей на дом
          </p>

          <div class="real-stories__item-picture real-stories__item-picture--fiol">
            <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
              alt="Реальные истории людей">
          </div>
        </li>

        <li class="real-stories__item">
          <p class="real-stories__item-descr">
            Как я спустя 6 лет, вернул
            50 000 ₽ за проведение ИГХ-исследования в стационаре
          </p>

          <div class="real-stories__item-picture real-stories__item-picture--lite-green">
            <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
              alt="Реальные истории людей">
          </div>
        </li>

        <li class="real-stories__item">
          <p class="real-stories__item-descr">
            Как мне вернули 400 000 ₽
            за дорогие лекарства которые мне купили родственники, когда я был в реабилитации
          </p>

          <div class="real-stories__item-picture real-stories__item-picture--lite-fiol">
            <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
              alt="Реальные истории людей">
          </div>
        </li>

        <li class="real-stories__item">
          <p class="real-stories__item-descr">
            "Ждите месяц, мест нет" —
            Как мне растягивали сроки
            на проведение КТ органов грудной клетки
          </p>

          <div class="real-stories__item-picture real-stories__item-picture--sky-blue">
            <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
              alt="Реальные истории людей">
          </div>
        </li>
      </ul>
    </div>

    <div class="real-stories-history__links">
      <a class="accent-btn real-stories-history__links-link" href="#">Рассказать свою историю</a>
      <a class="see-more-btn real-stories-history__links-link" href="#">Смотреть больше историй</a>
      <a class="see-more-btn real-stories-history__links-link--mobile" href="#">Смотреть списком</a>
    </div>
  </div>
</section>
