<div class="real-stories">
  <div class="container">
    <ul class="real-stories__list">
      <li class="real-stories__item">
        <p class="real-stories__item-descr">
          Как мне вернули 400 000 ₽
          за дорогие лекарства которые мне купили родственники, когда я был в реабилитации
        </p>

        <div class="real-stories__item-picture real-stories__item-picture--green">
          <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
            alt="Реальные истории людей">
        </div>
      </li>

      <li class="real-stories__item">
        <p class="real-stories__item-descr">
          "Ждите месяц, мест нет" —
          Как мне растягивали сроки
          на проведение КТ органов грудной клетки
        </p>

        <div class="real-stories__item-picture real-stories__item-picture--blue">
          <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
            alt="Реальные истории людей">
        </div>
      </li>

      <li class="real-stories__item">
        <p class="real-stories__item-descr">
          Как я добилась, чтобы к моему лежачему отцу, больному онкологией, приехала делегация врачей на дом
        </p>

        <div class="real-stories__item-picture real-stories__item-picture--fiol">
          <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
            alt="Реальные истории людей">
        </div>
      </li>

      <li class="real-stories__item">
        <p class="real-stories__item-descr">
          Как я спустя 6 лет, вернул
          50 000 ₽ за проведение ИГХ-исследования в стационаре
        </p>

        <div class="real-stories__item-picture real-stories__item-picture--lite-green">
          <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
            alt="Реальные истории людей">
        </div>
      </li>

      <li class="real-stories__item">
        <p class="real-stories__item-descr">
          Как мне вернули 400 000 ₽
          за дорогие лекарства которые мне купили родственники, когда я был в реабилитации
        </p>

        <div class="real-stories__item-picture real-stories__item-picture--lite-fiol">
          <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
            alt="Реальные истории людей">
        </div>
      </li>

      <li class="real-stories__item">
        <p class="real-stories__item-descr">
          "Ждите месяц, мест нет" —
          Как мне растягивали сроки
          на проведение КТ органов грудной клетки
        </p>

        <div class="real-stories__item-picture real-stories__item-picture--sky-blue">
          <img loading="lazy" src="img/real-stories/real-stories-icon.svg" class="real-stories__item-image"
            alt="Реальные истории людей">
        </div>
      </li>
    </ul>

    <div class="real-stories__btn">
      <a class="see-more-btn real-stories__btn-link" href="#">
        Посмотреть еще
      </a>
    </div>

  </div>
</div>
