<section class="read-also see-also">
  <div class="container">
    <div class="read-also__inner">
      <div class="read-also__top">
        <h3 class="section-title read-also__title">
          <span class="section-title--blue">
            Смотрите также
          </span>
        </h3>

        <a class="see-all read-also__link" href="#">
          Посмотреть все
          <span class="see-all__arrow read-also__link-arrow">
            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 4.5C0.723858 4.5 0.5 4.72386 0.5 5C0.5 5.27614 0.723858 5.5 1 5.5V4.5ZM11 5L11.3536 5.35355C11.5488 5.15829 11.5488 4.84171 11.3536 4.64645L11 5ZM7.35355 0.646447C7.15829 0.451184 6.84171 0.451184 6.64645 0.646447C6.45118 0.841709 6.45118 1.15829 6.64645 1.35355L7.35355 0.646447ZM6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L6.64645 8.64645ZM1 5.5H11V4.5H1V5.5ZM6.64645 1.35355L10.6464 5.35355L11.3536 4.64645L7.35355 0.646447L6.64645 1.35355ZM10.6464 4.64645L6.64645 8.64645L7.35355 9.35355L11.3536 5.35355L10.6464 4.64645Z"
                fill="#193C6D" />
            </svg>
          </span>
        </a>
      </div>

      <div class="slick-slider read-also__slider">
        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Как лечиться бесплатно
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Как вести себя на приеме у врача, чтобы не зря сходить
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--blue">
            <img loading="lazy" src="img/read-also/read-also-doctor.svg" class="read-also__slide-image"
              alt="Как вести себя на приеме у врача, чтобы не зря сходить">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Профилактика и реабилитация
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Особенности вакцинации онкопациентов. Мнение эксперта
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--fiol">
            <img loading="lazy" src="img/read-also/read-also-tablets.svg" class="read-also__slide-image"
              alt="Особенности вакцинации онкопациентов. Мнение эксперта">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Как лечиться бесплатно
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Какие анализы можно сдать бесплатно по полису ОМС?
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--green">
            <img loading="lazy" src="img/read-also/read-also-saving.svg" class="read-also__slide-image"
              alt="Какие анализы можно сдать бесплатно по полису ОМС?">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Как лечиться бесплатно
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Как вести себя на приеме у врача, чтобы не зря сходить
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--blue">
            <img loading="lazy" src="img/read-also/read-also-doctor.svg" class="read-also__slide-image"
              alt="Как вести себя на приеме у врача, чтобы не зря сходить">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Профилактика и реабилитация
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Особенности вакцинации онкопациентов. Мнение эксперта
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--fiol">
            <img loading="lazy" src="img/read-also/read-also-tablets.svg" class="read-also__slide-image"
              alt="Особенности вакцинации онкопациентов. Мнение эксперта">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Как лечиться бесплатно
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Какие анализы можно сдать бесплатно по полису ОМС?
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--green">
            <img loading="lazy" src="img/read-also/read-also-saving.svg" class="read-also__slide-image"
              alt="Какие анализы можно сдать бесплатно по полису ОМС?">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Как лечиться бесплатно
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Как вести себя на приеме у врача, чтобы не зря сходить
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--blue">
            <img loading="lazy" src="img/read-also/read-also-doctor.svg" class="read-also__slide-image"
              alt="Как вести себя на приеме у врача, чтобы не зря сходить">
          </div>
        </article>

        <article class="read-also__slide">
          <div class="read-also__slide-top">
            <p class="read-also__slide-text">
              Профилактика и реабилитация
            </p>

            <time class="read-also__slide-time">
              24.02.2022
            </time>
          </div>

          <h4 class="read-also__slide-descr">
            Особенности вакцинации онкопациентов. Мнение эксперта
          </h4>

          <div class="read-also__slide-picture read-also__slide-picture--fiol">
            <img loading="lazy" src="img/read-also/read-also-tablets.svg" class="read-also__slide-image"
              alt="Особенности вакцинации онкопациентов. Мнение эксперта">
          </div>
        </article>

      </div>
    </div>
  </div>
</section>
