<section class="subscribe-health">
  <div class="container">
    <div class="subscribe-health__inner">
      <h3 class="section-title subscribe-health__title">
        <span class="section-title--blue">
          Подписывайтесь
        </span>
        на здоровье
      </h3>

      <form action="#" class="subscribe-health__form subscribe-health-form">
        <label class="subscribe-health-form__label">
          <input type="email" name="email" class="subscribe-health-form__input" placeholder="Введите ваш email">
        </label>
        <a class="accent-btn subscribe-health-form__btn" href="#">Подписаться</a>

        <p class="subscribe-health-form__descr">
          Нажимая кнопку "Подписаться", вы соглашаетесь на обработку
          <a class="subscribe-health-form__descr-link" href="#">персональных данных</a>
        </p>
      </form>
    </div>
  </div>
</section>
