<section class="tell-story">
  <div class="container">
    <div class="tell-story__inner">
      <h3 class="section-title tell-story__title">
        <span class="section-title--blue">
          Рассказать свою
        </span>
        историю
      </h3>

      <div class="tell-story__descr">
        <p class="tell-story__descr-text">
          Мы собираем каталог нарушений прав пациентов в реальных ситуациях, чтобы вы знали, как в них не попасть.
          Поэтому мы публикуем только те истории, в которых кто-то потерял или мог потерять деньги и здоровье по вине
          медорганизаций.
        </p>

        <p class="tell-story__descr-text">
          К сожалению, мы не можем публиковать названия компаний. Оставьте их в своей истории, мы передадим всю
          информацию в в отдел защиты прав застрахованных.
        </p>

        <p class="tell-story__descr-text">
          Пожалуйста, отнеситесь с пониманием к тому, что ваша история может быть отредактирована модератором, ее смысл
          не будет искажен. Если вы будете не согласны с редактурой, напишите нам.
        </p>

      </div>

      <!-- input-error добовляется при ошибке, стили готовы. Сообщение об оштбке message-error -->
      <div class="tell-story__form form-tell-story">
        <form class="form-tell-story__inner" action="#" data-simplebar>
          <div class="form-tell-story__top">
            <div class="form-tell-story__inputs">
              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-name">
                  Укажите ФИО
                </label>
                <input class="form-tell-story__input" value="" type="text" placeholder="Иванов Иван Иванович"
                  id="form-tell-story-name" required>
                <div class="clear-input"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 13L1 1M13 1L1 13" stroke="#031317" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </div>
                <div class="message-error">
                  Ошибка: Неправильный ввод текста
                </div>
              </div>

              <div class="form-tell-story__group form-tell-story__group-region js-form-tell-story-region">
                <label class="form-tell-story__label" for="form-tell-story-address">
                  Регион
                </label>
                <div class="form-tell-story__input">
                  <span>Автоматический выбранный регион</span>
                </div>
                <input type="hidden" name="region">
                <ul class="form-tell-story__dropdown js-dropdown-menu">
                  <li class="form-tell-story__dropdown-item" id="region1">Регион 1</li>
                  <li class="form-tell-story__dropdown-item" id="region2">Регион 2</li>
                  <li class="form-tell-story__dropdown-item" id="region3">Регион 3</li>
                  <li class="form-tell-story__dropdown-item" id="region4">Регион 4</li>
                  <li class="form-tell-story__dropdown-item" id="region5">Регион 5</li>
                  <li class="form-tell-story__dropdown-item" id="region6">Регион 6</li>
                  <li class="form-tell-story__dropdown-item" id="region7">Регион 7</li>
                  <li class="form-tell-story__dropdown-item" id="region8">Регион 8</li>
                </ul>

                <!-- <input class="form-tell-story__input" value="" type="text" placeholder="Укажите ваш регион"
                  id="form-tell-story-address" required> -->
                <!-- <div class="clear-input"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 13L1 1M13 1L1 13" stroke="#031317" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </div> -->
                <div class="message-error">
                  Ошибка: Неправильный ввод текста
                </div>
              </div>

              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-email">
                  Укажите ваш e-mail
                </label>
                <input class="form-tell-story__input" value="" type="text" placeholder="ivanov@mail.ru"
                  id="form-tell-story-email" required>
                <div class="clear-input"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 13L1 1M13 1L1 13" stroke="#031317" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </div>
                <div class="message-error">
                  Ошибка: Неправильный ввод текста
                </div>
              </div>

              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-name">
                  Укажите ваш номер
                </label>
                <input class="form-tell-story__input" value="" type="tel" placeholder="+7 999 999 99 99"
                  id="form-tell-story-name" required>
                <div class="clear-input"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 13L1 1M13 1L1 13" stroke="#031317" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </div>
                <div class="message-error">
                  Ошибка: Неправильный ввод текста
                </div>
              </div>
            </div>

            <div class="form-tell-story__img">
              <img loading="lazy" src="img/tell-story/form-tell-story-img.svg" class="form-tell-story__image"
                alt="Зонтик">
            </div>
          </div>

          <div class="form-tell-story__middle">
            <label class="form-tell-story__label" for="form-tell-story-textarea">
              Поделитесь своей историей
            </label>
            <textarea class="form-tell-story__textarea" id="form-tell-story-textarea"
              placeholder="Моя история о том, как я ..."></textarea>
          </div>

          <div class="form-tell-story__bottom">
            <input class="form-tell-story__bottom-input" type="checkbox" id="form-tell-story-checkbox" checked>
            <label class="form-tell-story__bottom-label" for="form-tell-story-checkbox">
              <div class="form-tell-story__bottom-check"></div>
              <p class="form-tell-story__bottom-descr">
                Я соглашаюсь с
                <a class="form-tell-story__bottom-link" href="#">
                  условиями обработки персональных данных
                </a>
              </p>
            </label>

            <button class="accent-btn form-tell-story__bottom-btn" type="submit">
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
