<section class="tell-story">
  <div class="container">
    <div class="tell-story__inner">
      <h3 class="section-title tell-story__title">
        <span class="section-title--blue">
          Рассказать свою
        </span>
        историю
      </h3>

      <div class="tell-story__descr">
        <p class="tell-story__descr-text">
          Мы собираем каталог нарушений прав пациентов в реальных ситуациях, чтобы вы знали, как в них не попасть.
          Поэтому мы публикуем только те истории, в которых кто-то потерял или мог потерять деньги и здоровье по вине
          медорганизаций.
        </p>

        <p class="tell-story__descr-text">
          К сожалению, мы не можем публиковать названия компаний. Оставьте их в своей истории, мы передадим всю
          информацию в в отдел защиты прав застрахованных.
        </p>

        <p class="tell-story__descr-text">
          Пожалуйста, отнеситесь с пониманием к тому, что ваша история может быть отредактирована модератором, ее смысл
          не будет искажен. Если вы будете не согласны с редактурой, напишите нам.
        </p>

      </div>

      <div class="tell-story__form form-tell-story">
        <form class="form-tell-story__inner" action="#">
          <div class="form-tell-story__top">
            <div class="form-tell-story__inputs">
              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-name">
                  Ваши данные
                </label>
                <input class="form-tell-story__input" type="text" placeholder="Укажите ФИО" id="form-tell-story-name">
              </div>

              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-address">
                  Регион
                </label>
                <input class="form-tell-story__input" type="text" placeholder="Укажите ваш регион"
                  id="form-tell-story-address">
              </div>

              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-email">
                  Почта
                </label>
                <input class="form-tell-story__input" type="email" placeholder="Укажите ваш e-mail"
                  id="form-tell-story-email">
              </div>

              <div class="form-tell-story__group">
                <label class="form-tell-story__label" for="form-tell-story-name">
                  Телефон
                </label>
                <input class="form-tell-story__input" type="tel" placeholder="Укажите ваш номер"
                  id="form-tell-story-name">
              </div>
            </div>

            <div class="form-tell-story__img">
              <img loading="lazy" src="img/tell-story/form-tell-story-img.svg" class="form-tell-story__image"
                alt="Зонтик">
            </div>
          </div>

          <div class="form-tell-story__middle">
            <label class="form-tell-story__label" for="form-tell-story-textarea">
              Опишите ситуацию
            </label>
            <textarea class="form-tell-story__textarea" id="form-tell-story-textarea"
              placeholder="Поделитесь своей историей"></textarea>
          </div>

          <div class="form-tell-story__bottom">
            <input class="form-tell-story__bottom-input" type="checkbox" id="form-tell-story-checkbox" checked>
            <label class="form-tell-story__bottom-label" for="form-tell-story-checkbox">
              <div class="form-tell-story__bottom-check"></div>
              <p class="form-tell-story__bottom-descr">
                Я соглашаюсь с
                <a class="form-tell-story__bottom-link" href="#">
                  условиями обработки персональных данных
                </a>
              </p>
            </label>

            <button class="accent-btn form-tell-story__bottom-btn" type="submit">
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
