<div class="useful-materials-page-body">
  <div class="prevention-rehabilitation-audio">
    <div class="container">
      <div class="prevention-rehabilitation-audio__inner">
        <h4 class="useful-materials__title prevention-rehabilitation-audio__title">
          Профилактика и реабилитация
        </h4>

        <ul class="prevention-rehabilitation-audio__list">
          <li class="prevention-rehabilitation-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Инструкция по прохожению диспансеризации у детей </figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>

          <li class="prevention-rehabilitation-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Лечение по ОМС:
                что изменилось в 2022 году?</figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="disease-treatment-audio">
    <div class="container">
      <div class="disease-treatment-audio__inner">
        <h4 class="useful-materials__title disease-treatment-audio__title">
          Лечение заболеваний
        </h4>

        <ul class="disease-treatment-audio__list">
          <li class="disease-treatment-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Инструкция по прохожению диспансеризации у детей </figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>

          <li class="disease-treatment-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Лечение по ОМС:
                что изменилось в 2022 году?</figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="be-treated-free-audio">
    <div class="container">
      <div class="be-treated-free-audio__inner">
        <h4 class="useful-materials__title be-treated-free-audio__title">
          Как лечиться бесплатно
        </h4>

        <ul class="be-treated-free-audio__list">
          <li class="be-treated-free-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Инструкция по прохожению диспансеризации у детей </figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>

          <li class="be-treated-free-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Лечение по ОМС:
                что изменилось в 2022 году?</figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pregnancy-childbirth-audio">
    <div class="container">
      <div class="pregnancy-childbirth-audio__inner">
        <h4 class="useful-materials__title pregnancy-childbirth-audio__title">
          Беременность и роды
        </h4>

        <ul class="pregnancy-childbirth-audio__list">
          <li class="pregnancy-childbirth-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Инструкция по прохожению диспансеризации у детей </figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>

          <li class="pregnancy-childbirth-audio__item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Лечение по ОМС:
                что изменилось в 2022 году?</figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="useful-materials-page-body__footer">
    <div class="container">
      <div class="useful-materials-page-body__btn">
        <a class="see-more-btn useful-materials-page-body__btn-link" href="#">Посмотреть еще</a>
      </div>
    </div>
  </div>
</div>
