<div class="useful-materials-page-body">

  <div class="useful-document-materials">
    <div class="container">
      <div class="useful-document-materials__inner">
        <ul class="useful-document-materials__list">
          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса ОМС для другого человека
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .DOC
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса ОМС для другого человека
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .DOC
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса ОМС для другого человека
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .DOC
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .DOC
                </span>
              </div>
            </a>
          </li>

          <li class="useful-document-materials__item">
            <a class="useful-document-materials__item-link" href="#">
              <p class="useful-document-materials__item-text">
                Доверенность представителю для оформления полиса
              </p>
              <div class="useful-document-materials__item-download">
                <img loading="lazy" src="img/svg/download-document.svg"
                  class="useful-document-materials__item-download-image" alt="Скачать документ">
                <span class="useful-document-materials__item-download-extension">
                  .PDF
                </span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="useful-materials-page-body__footer">
    <div class="container">
      <div class="useful-materials-page-body__btn">
        <a class="see-more-btn useful-materials-page-body__btn-link" href="#">Посмотреть еще</a>
      </div>
    </div>
  </div>
</div>
