<div class="useful-materials-page-body">
  <div class="prevention-rehabilitation">
    <div class="container">
      <div class="prevention-rehabilitation__inner">
        <h4 class="useful-materials__title prevention-rehabilitation__title">
          Профилактика и реабилитация
        </h4>

        <ul class="prevention-rehabilitation__list">
          <li class="prevention-rehabilitation__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--fiol">
                <p class="youtube-content__descr">
                  Лечение по ОМС: что изменилось
                  в 2022 году?
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg"
                  class="youtube-content__image" alt="Лечение по ОМС: что изменилось
              в 2022 году?">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>
          </li>

          <li class="prevention-rehabilitation__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>
          </li>

          <li class="prevention-rehabilitation__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей ">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="disease-treatment">
    <div class="container">
      <div class="disease-treatment__inner">
        <h4 class="useful-materials__title disease-treatment__title">
          Лечение заболеваний
        </h4>

        <ul class="disease-treatment__list">
          <li class="disease-treatment__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--fiol">
                <p class="youtube-content__descr">
                  Лечение по ОМС: что изменилось
                  в 2022 году?
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg"
                  class="youtube-content__image" alt="Лечение по ОМС: что изменилось
              в 2022 году?">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>

          <li class="disease-treatment__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>

          <li class="disease-treatment__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей ">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="be-treated-free">
    <div class="container">
      <div class="be-treated-free__inner">
        <h4 class="useful-materials__title be-treated-free__title">
          Как лечиться бесплатно
        </h4>

        <ul class="be-treated-free__list">
          <li class="be-treated-free__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--fiol">
                <p class="youtube-content__descr">
                  Лечение по ОМС: что изменилось
                  в 2022 году?
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg"
                  class="youtube-content__image" alt="Лечение по ОМС: что изменилось
              в 2022 году?">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>

          <li class="be-treated-free__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>

          <li class="be-treated-free__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей ">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pregnancy-childbirth">
    <div class="container">
      <div class="pregnancy-childbirth__inner">
        <h4 class="useful-materials__title pregnancy-childbirth__title">
          Беременность и роды
        </h4>

        <ul class="pregnancy-childbirth__list">
          <li class="pregnancy-childbirth__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--fiol">
                <p class="youtube-content__descr">
                  Лечение по ОМС: что изменилось
                  в 2022 году?
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg"
                  class="youtube-content__image" alt="Лечение по ОМС: что изменилось
              в 2022 году?">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>
          </li>

          <li class="pregnancy-childbirth__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>

          <li class="pregnancy-childbirth__item youtube-content">
            <a data-fancybox class="useful-materials__content-item-link" href="#hidden">
              <div class="youtube-content__inner youtube-content__inner--blue">
                <p class="youtube-content__descr">
                  Инструкция
                  по прохожению диспансеризации у детей
                </p>

                <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                  class="youtube-content__image" alt="Инструкция
              по прохожению диспансеризации у детей ">

                <div class="youtube-content__footer">
                  <p class="youtube-content__instuction">
                    Видео-инструкция
                  </p>
                </div>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="useful-materials-page-body__footer">
    <div class="container">
      <div class="useful-materials-page-body__btn">
        <a class="see-more-btn useful-materials-page-body__btn-link" href="#">Посмотреть еще</a>
      </div>
    </div>
  </div>
</div>
