<section class="useful-materials">
  <div class="container">
    <div class="useful-materials__inner">
      <div class="useful-materials__top">
        <h2 class="section-title useful-materials__title">
          Полезные
          <span class="section-title--blue">
            материалы
          </span>
        </h2>

        <a class="see-all useful-materials__link" href="#">
          Посмотреть все
          <span class="see-all__arrow useful-materials__link-arrow">
            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 4.5C0.723858 4.5 0.5 4.72386 0.5 5C0.5 5.27614 0.723858 5.5 1 5.5V4.5ZM11 5L11.3536 5.35355C11.5488 5.15829 11.5488 4.84171 11.3536 4.64645L11 5ZM7.35355 0.646447C7.15829 0.451184 6.84171 0.451184 6.64645 0.646447C6.45118 0.841709 6.45118 1.15829 6.64645 1.35355L7.35355 0.646447ZM6.64645 8.64645C6.45118 8.84171 6.45118 9.15829 6.64645 9.35355C6.84171 9.54882 7.15829 9.54882 7.35355 9.35355L6.64645 8.64645ZM1 5.5H11V4.5H1V5.5ZM6.64645 1.35355L10.6464 5.35355L11.3536 4.64645L7.35355 0.646447L6.64645 1.35355ZM10.6464 4.64645L6.64645 8.64645L7.35355 9.35355L11.3536 5.35355L10.6464 4.64645Z"
                fill="#193C6D" />
            </svg>
          </span>
        </a>
      </div>

      <p class="useful-materials__descr">
        Мы собираем для вас полезные материалы для пациента в удобных форматах — обучающие видео для пациентов,
        аудиолекции, методические материалы: учебные пособия, памятки и презентации.
      </p>

      <div class="useful-materials__content">
        <ul class="useful-materials__content-list">
          <li class="useful-materials__content-item youtube-content">
            <div class="youtube-content__inner youtube-content__inner--fiol">
              <p class="youtube-content__descr">
                Инструкция
                по прохожению диспансеризации у детей
              </p>

              <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg" class="youtube-content__image"
                alt="Лечение по ОМС: что изменилось
                в 2022 году?">

              <div class="youtube-content__footer">
                <p class="youtube-content__instuction">
                  Видео-инструкция
                </p>
              </div>
            </div>
          </li>

          <li class="useful-materials__content-item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Инструкция по прохожению диспансеризации у детей </figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>

          </li>

        </ul>

        <ul class="useful-materials__content-list">
          <li class="useful-materials__content-item youtube-content">
            <div class="youtube-content__inner youtube-content__inner--blue">
              <p class="youtube-content__descr">
                Инструкция
                по прохожению диспансеризации у детей
              </p>

              <img loading="lazy" src="img/youtube-content/youtube-content-img-family.svg"
                class="youtube-content__image" alt="Лечение по ОМС: что изменилось
                в 2022 году?">

              <div class="youtube-content__footer">
                <p class="youtube-content__instuction">
                  Видео-инструкция
                </p>
              </div>
            </div>
          </li>

          <li class="useful-materials__content-item audio-container">
            <figure class="audio-container__inner">
              <figcaption class="audio-container__name">Инструкция по прохожению диспансеризации у детей </figcaption>
              <audio class="audio-container__audio-player" controls src="./ac_dc_-_highway_to_hell_muzati.net.mp3">
              </audio>
            </figure>

          </li>

        </ul>

        <ul class="useful-materials__content-list">
          <li class="useful-materials__content-item youtube-content">
            <div class="youtube-content__inner youtube-content__inner--fiol">
              <p class="youtube-content__descr">
                Лечение по ОМС: что изменилось
                в 2022 году?
              </p>

              <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg" class="youtube-content__image"
                alt="Лечение по ОМС: что изменилось
                в 2022 году?">

              <div class="youtube-content__footer">
                <p class="youtube-content__instuction">
                  Видео-инструкция
                </p>
              </div>
            </div>
          </li>

          <li class="useful-materials__content-item youtube-content">
            <div class="youtube-content__inner youtube-content__inner--fiol">
              <p class="youtube-content__descr">
                Лечение по ОМС: что изменилось
                в 2022 году?
              </p>

              <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg" class="youtube-content__image"
                alt="Лечение по ОМС: что изменилось
                в 2022 году?">

              <div class="youtube-content__footer">
                <p class="youtube-content__instuction">
                  Видео-инструкция
                </p>
              </div>
            </div>
          </li>

          <li class="useful-materials__content-item youtube-content">
            <div class="youtube-content__inner youtube-content__inner--fiol">
              <p class="youtube-content__descr">
                Лечение по ОМС: что изменилось
                в 2022 году?
              </p>

              <img loading="lazy" src="img/youtube-content/youtube-content-img-heart.svg" class="youtube-content__image"
                alt="Лечение по ОМС: что изменилось
                в 2022 году?">

              <div class="youtube-content__footer">
                <p class="youtube-content__instuction">
                  Видео-инструкция
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
