// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "HelveticaNeueCyr", sans-serif;
  --content-width: 1120px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --blue-color: #193C6D;
  --red-color: #B8181C;
  --black-color: #031317;
}
