  // базовые подключения
  @import "vars";
  @import "mixins";
  @import "fonts";

  main.main {
    // базовые подключения
    @import "settings";

    // подключения компонентов страницы
    @import "./components/titles";
    @import "./components/audio-player";
    @import "./components/see-more-btn";
    @import "./components/see-all";
    @import "./components/accent-btn";
    @import "./components/breadcrumbs-chapter";
    @import "./components/header";
    @import "./components/have-questions";
    @import "./components/subscribe-health";
    @import "./components/educational-courses";
    @import "./components/read-also";
    @import "./components/f-a-q";
    @import "./components/useful-materials";
    @import "./components/youtube-content";
    @import "./components/policy-question";
    @import "./components/medical-articles";
    @import "./components/instructions-articles";
    @import "./components/help-center";
    @import "./components/real-stories";
    @import "./components/have-history";
    @import "./components/help-stories-detal";
    @import "./components/useful-materials-video-page-body";
    @import "./components/useful-materials-audio-page-body";
    @import "./components/useful-materials-document-page-body";
    @import "./components/detal-instructions";
    @import "./components/questions-answers";
    @import "./components/tell-story";
    @import "./components/about-project";
    @import "./components/experts-detal";
  }

  .site-container.allContent>footer {
    margin-top: 0;
  }

  .content-page .breadcrumbs .container {
    padding: 0;
  }

  .breadcrumbs span {
    color: #939393;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
  }

  .breadcrumbs {
    position: relative;
    padding: 1.2rem 0 4rem;
  }

  .breadcrumbs .container {
    padding: 0 1.6rem;
  }

  .breadcrumbs ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .breadcrumbs ul li {
    padding: 0 0.8rem;
    position: relative;
    margin: 0;
    line-height: 1;
  }

  .breadcrumbs ul li:after {
    content: '/';
    position: absolute;
    top: 50%;
    right: -0.203rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #939393;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.6rem;
  }

  .breadcrumbs ul li a,
  .breadcrumbs ul li span {
    white-space: nowrap;
  }

  .breadcrumbs ul> :first-child {
    padding-left: 0;
  }

  .breadcrumbs ul> :last-child {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .breadcrumbs ul> :last-child:after {
    content: none;
  }

  .breadcrumbs ul> :last-child a {
    cursor: default;
    pointer-events: none;
  }

  .breadcrumbs a {
    color: #939393;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.6rem;
  }

  .breadcrumbs a:hover {
    color: #b8181c;
  }

  @media screen and (max-width: 639px) {
    .breadcrumbs {
      padding: 2rem 0 1.6rem;
    }

    .breadcrumbs .container {
      padding: 0 2rem;
    }

    .breadcrumbs ul li {
      display: none;
    }

    .breadcrumbs ul> :first-child,
    .breadcrumbs ul> :last-child {
      display: block;
    }
  }
