/* colors articles */

main.main .instructions-articles__item-link--green {
  background: #DDFFE2;
}

main.main .instructions-articles__item-link--orange {
  background: #FFE6DE;
}

main.main .instructions-articles__item-link--red {
  background: #FFD6DB;
}

main.main .instructions-articles__item-link--blue {
  background: #D6ECFF;
}

main.main .instructions-articles__item-link--yellow {
  background: #EDEEB6;
}

main.main .instructions-articles__item-link--purple {
  background: #E8D1FF;
}
